<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>

{% macro orphaned_file_template(orphaned_files) %}

<div class="table-responsive">
<table class="table-striped">
    <tr>
        <th>Path</th>
        <th>Download</th>
        <th>Resolve</th>
    </tr>
    {% for orphaned_file in orphaned_files %}
    <tr>
        <td>
            <label for="file">{{ orphaned_file['path'] }}</label><br>
            
        </td>
        <td>
            <a class="button" href="{{ orphaned_file['download'] }}">Download</a><br>
        </td>
        <td>
            <a class="button" href="{{ orphaned_file['link'] }}">Delete</a><br>
        </td>

    </tr>
    {% endfor %}
</table>
</div>
{% endmacro %}


{% macro invalid_link_template(invalid_links) %}
<div class="table-responsive">
<table class="table-striped">
        <tr>
            <th>File</th>
            <th>Resolve</th>

            <th>Path</th>
        </tr>
        {% for file_id in invalid_links %}
        <tr>
            <td>
                <label for="file">{{ invalid_links[file_id]['file'].id }}</label><br>
            </td>
            <td>
                {% if invalid_links[file_id]['parent'] %}
                <label>You cannot delete this file automatically as a parent ({{invalid_links[file_id]['parent']}}) depends on it. Please delete the <a href="{{invalid_links[file_id]['link']}}">parent</a> first.</label><br>
                {% else %}
                {% if invalid_links[file_id]['delete'] %}
                <label><a href="{{invalid_links[file_id]['delete']}}">Delete file object</a> (WARNING: this may cause issues in archive mode)</label><br>
                {% else %}
                <label>This issue is not resolvable. Please contact the developer.</label><br>
                {% endif %}
                {% endif %}
                
            </td>
            <td>
                <label>{{ invalid_links[file_id]['file'].get_full_relative_path() }}</label><br>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>

{% endmacro %}

{% include 'partials/header.html' %}

<head>
    <title>Error 404</title>
    <link rel="stylesheet" href="../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../static/css/general-style.css">
</head>

<body>
    <div class="outer-div">
        <h1>Filespace</h1>
        <h2>Invalid Links</h2>
        <p>Invalid links from existing file objects. This usually means a file has been wrongly moved or deleted from the filespace without using the software to do so.</p>
        {{ invalid_link_template(invalid_links) }}

        <h2>Invalid Deleted Links</h2>
        <p>Invalid links from softly deleted file objects. This usually means the trash directory has been emptied and that softly deleted files are no longer accessible. Use this software to delete those file objects.</p>
        {{ invalid_link_template(invalid_deleted_links) }}


        <h2>Orphaned Files</h2>
        <p>Orphaned files. These files are not referenced by any other file object.</p>
        {{ orphaned_file_template(orphaned_files) }}

        <h2>Orphaned Deleted Files</h2>
        <p>Orphaned deleted files. These files are not referenced by any other file object.</p>
        {{ orphaned_file_template(orphaned_deleted_files) }}
    </div>

</body>