<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}

<head>
    <title>Data Hub</title>
    <link rel="stylesheet" href="../../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../../static/css/general-style.css">
    <style>
        .statistic-box {
            border: 2px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }

    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <div class="outer-div">

        <h1>Data Hub</h1>

        <button id="clear-all-filters" class="btn btn-primary" onclick="refreshPage()">Refresh</button>
        {% from 'partials/days-ago-selector.html' import days_ago_selector %}
        {{ days_ago_selector() }}

          {% from 'partials/species-checkbox.html' import species_checkbox %}
          {{ species_checkbox(species_list) }}
          
        <h4>User filter</h4>

        {% from 'partials/search-dropdown.html' import recording_table %}
        {{ recording_table() }}
        <button id="clear-user-filter-button" hidden onclick="clearUserFilter()">Clear User Filter</button>
        <section style="padding-bottom: 20px; display: none;" id="user-statistics-section">
            <h2 id="user-statistics-title">User Statistics</h2>
            <p id="user-statistics-date-range-title"></p>
            <div class="statistic-box" id="user-statistics-box">
            </div>
            <div class="statistic-box" id="user-graph1-box">
                <h3>Number of Uploaded Recording Contributions</h3>
                <canvas id="user-statistics-chart" style="width:100%; height: 300px;"></canvas>
            </div>
        </section>

        <h2 id="statistics-title-text">All Statistics</h2>
        <p id="statistics-date-range-title"></p>

        <div class="statistic-box" id="selection-statistics-box">
            <h3>Selection Statistics</h3>
        </div>
        <div class="statistic-box" id="selection-traced-statistics-box">

            </div>
        <div class="statistic-box" id="selection-graph1-box">
            <h3>Number of Uploaded Selection and Contour File Contributions</h3>
            <canvas id="selection-statistics-chart" style="width:100%; height: 300px;"></canvas>
        </div>
        <h2>User Contributions</h2>
        <button id="clear-all-filters" class="btn btn-primary" style="margin-bottom: 10px" onclick="refreshPage()">Refresh</button>

        <div class="statistic-box" id="selection-graph2-box">
            <h3>Species Aggregate Traces</h3>
            <canvas id="selection-species-aggregate-chart" style="width:100%; height: 300px;">
              <!-- Your table content here -->
            </canvas>
          </div>
        <div style="display: flex; flex-direction: row;">
            <div class="statistic-box" style="margin-right: 1%; width: 49%; height: auto;" id="selection-graph2-box">
                <h3>Selection File Contributions by User</h3>
                <div id="selection-file-contributions-table-box">
                  <!-- Your table content here -->
                </div>
              </div>
        
        <div class="statistic-box" style="margin-left: 1%; width: 49%; height: auto;" id="selection-graph3-box">
            <h3>Contour File Contributions by User</h3>
            <div id="contour-file-contributions-table-box">

            </div>

        </div>

    </div>
<h2>Recording Assignments</h2>
<button id="clear-all-filters" class="btn btn-primary" style="margin-bottom: 10px" onclick="refreshPage()">Refresh</button>

    <div class="statistic-box" id="species-statistics-box">
        <h3>Species Statistics</h3>
    </div>
    <div class="statistic-box" id="recording-list-box">
        <h3>Recording List</h3>
    </div>
        
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
function generateColors(numColors) {
  const colors = [
    'rgba(255, 99, 132, 0.6)',
    'rgba(75, 192, 192, 0.6)',
    'rgba(255, 205, 86, 0.6)',
    'rgba(54, 162, 235, 0.6)',
    'rgba(255, 159, 64, 0.6)',
    'rgba(75, 192, 192, 0.6)',
    'rgba(153, 102, 255, 0.6)',
    'rgba(255, 159, 64, 0.6)',
    'rgba(255, 99, 132, 0.6)',
    'rgba(54, 162, 235, 0.6)'
  ];

  const selectedColors = [];

  for (let i = 0; i < numColors; i++) {
    const colorIndex = i % colors.length;
    selectedColors.push(colors[colorIndex]);
  }

  return selectedColors;
}

    async function updateLineChartData(chart, chartID, labels, datas) {
        // Update the chart data and labels
        const colors = generateColors(datas.length);

        datasets = []
            for (var i = 0; i < datas.length; i++) {
                datasets.push({
                    label: datas[i].label,
                    data: datas[i].data,
                    backgroundColor: colors[i],
                    borderColor: colors[i],
                    borderWidth: 1
                })
            }
        if (chart) {
            chart.data.labels = labels;
            chart.data.datasets = datasets
            
            chart.update();
            return chart
        } else {
            var ctx = document.getElementById(chartID).getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            return chart
        }
    }

// Function to fetch and update the chart data
    async function updateBarChartData(chart, chartID, labels, datas) {
        // Update the chart data and labels
        if (chart) {
            chart.data.labels = labels;
            for (var i=0 ; i < datas.length; i++) {
                for (var j=0; j < chart.data.datasets.length; j++) {
                    if (chart.data.datasets[j].label === datas[i].label) {
                        chart.data.datasets[j].data = datas[i].data;
                    }
                }
            }
            chart.update();
            return chart
        } else {
            var ctx = document.getElementById(chartID).getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            const colors = generateColors(datas.length);
            datasets = []
            for (var i = 0; i < datas.length; i++) {
                datasets.push({
                    label: datas[i].label,
                    data: datas[i].data,
                    backgroundColor: colors[i],
                    borderColor: colors[i],
                    borderWidth: 1
                })
            }
            chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {}
            });

            return chart;
        }
    }


    async function updatePieChartData(chart, chartID, labels, datas) {
        // Update the chart data and labels
        if (chart) {
            chart.data.labels = labels;
            chart.data.datasets[0].data = datas;
            chart.update();
        } else {
            var ctx = document.getElementById(chartID).getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            const colors = generateColors(datas.length);
            chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: datas,
                        backgroundColor: colors
                    }]

                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    }
                }
            });
        }
        return chart
    }
</script>
<script>
    var selectionAndContourStatisticsChart;
    var selectionStatisticsByUserChart;
    var speciesCompleteCounterAggregateChart;
    var contourStatisticsByUserChart;
    var StartDateTime = null;
    var dayCount = null
    var userFilterId = null;


    var species_filter = null

    function speciesCheckboxRefresh(species_sel_list) {
        species_filter = species_sel_list
        refreshPage()
    }

    $(document).ready(function () {
        
    });

    async function getPageStatistics(user_only = false) {
        $('#statistics-title-text').text("Loading Statistics...")
        if (StartDateTime === null) {
            // if no selection in the dropdown, assign the default value 7
            dropdown.value = "7";
            await StartDateTimeDropdownSelection();
        }
            $('#selection-statistics-box').empty()

            console.log(species_filter)
        $('#selection-file-contributions-table-box').empty()
        $('#contour-file-contributions-table-box').empty()
        $.ajax({
            url: '/datahub/get-statistics',
            type: 'GET',
            data: { start_date_time: StartDateTime, user_id: userFilterId, day_count: dayCount, species_filter: species_filter },
            success: function (result) {
                console.log(result)
                console.log(result.user_name, result.user_name != null)
                if (result.user_name != null) {
                    $('#statistics-title-text').text("Statistics for " + result.user_name + " (" + result.user_login_id + "), since " + result.dayCount + " day" + (result.dayCount > 1 ? "s" : "") + " ago")
                } else {
                    $('#statistics-title-text').text("Statistics since " + result.dayCount + " day" + (result.dayCount > 1 ? "s" : "") + " ago")
                }
                updateBarChartData(selectionAndContourStatisticsChart, 'selection-statistics-chart', result.selectionAndContourStatisticsChartLabels, result.selectionAndContourStatisticsChartData).then(function (updated_chart) {
                    selectionAndContourStatisticsChart = updated_chart
                })
                updateLineChartData(speciesCompleteCounterAggregateChart, 'selection-species-aggregate-chart', result.selectionAndContourStatisticsChartLabels,result.speciesCompleteCounterAggregateRecord).then(function (updated_chart) {
                    speciesCompleteCounterAggregateChart = updated_chart
                })
                updateSelectionStatistics(result)
                $('#statistics-date-range-title').text("From " + result.startDateTime + " until " + result.endDateTime)

            }
        });

        $.ajax({
            url: '/datahub/get-recording-statistics',
            type: 'GET',
            data: { start_date_time: StartDateTime, assigned_user_id: userFilterId, day_count: dayCount, species_filter: species_filter },
            success: function (result) {
                speciesStatistics = result['species_statistics']
                recordingStatistics = result['recording_statistics']
                console.log(recordingStatistics)

                updateSpeciesStatistics(speciesStatistics)
                updateRecordingList(recordingStatistics['unassigned_recordings'], recordingStatistics['assigned_recordings'])
            }
        });
    
        
        // if (userFilterId !== null) {
        //     $('#user-statistics-box').empty()
        //     $.ajax({
        //         url: '/datahub/get-statistics',
        //         type: 'GET',
        //         data: { start_date_time: StartDateTime, user_id: userFilterId, day_count: dayCount, species_filter: species_filter },
        //         success: function (result) {
        //             updateSelectionStatisticsForUser(result)
        //             $('#user-statistics-date-range-title').text("From " + result.startDateTime + " until " + result.endDateTime)

        //         }
        //     });
        // }

        
    }

    async function onUserSelectionDropdownComplete(response) {
        userFilterId = response
        await refreshPage(user_only=true)
        $("#clear-user-filter-button").show()

        
    }

    function updateSpeciesStatistics(speciesStatistics) {
        $('#species-statistics-box').empty()

        speciesStatisticsTable = createTable(['Species', 'Assignments', 'Assignments Completed', 'Assignment Completion Rate', 'Recordings to Assign'])
        tbody = speciesStatisticsTable.find('tbody')
        for (species in speciesStatistics) {
            addStatisticsTableRow(tbody, [speciesStatistics[species]['species_name'], speciesStatistics[species]['assigned_recordings'], speciesStatistics[species]['completed_assignments'], speciesStatistics[species]['completion_rate'] + "%", speciesStatistics[species]['unassigned_recordings']])
        }
        $('#species-statistics-box').append(speciesStatisticsTable);
    }

    function updateRecordingList(unassigned_recordings, assigned_recordings) {
        $('#recording-list-box').empty()
        if (unassigned_recordings.length > 0) {
            
        unassignedRecordingsTable = createTable(['Species', 'Encounter', 'Recording', 'Created On'])
        tbody = unassignedRecordingsTable.find('tbody')
        for (recording in unassigned_recordings) {
            recording_link = "<a href='" + unassigned_recordings[recording]['recording_route'] + "'>" + unassigned_recordings[recording]['start_time'] + "</a>"
            addStatisticsTableRow(tbody, [unassigned_recordings[recording]['sp_species_name'], unassigned_recordings[recording]['enc_encounter_name'], recording_link, unassigned_recordings[recording]['created_datetime']])
        }

        $('#recording-list-box').append("<h3>Unassigned Recordings</h3>")
        $('#recording-list-box').append(unassignedRecordingsTable);
        $('#recording-list-box').append('<br>')
        
    } else {
        $('#recording-list-box').append("<p>There are no unassigned recordings for the selected filters.</p>");
    }
        if (assigned_recordings.length > 0) {
            
        assignedRecordingTable = createTable(['Assigned On', 'Status', 'Assignment', 'Species', 'Encounter', 'Recording', 'Created On'])
        tbody = assignedRecordingTable.find('tbody')
        for (recording in assigned_recordings) {
            status = assigned_recordings[recording]['assignment_completed_flag'] ? "Completed" : "In Progress"
            traced_count = assigned_recordings[recording]['traced_count']
            if (traced_count > 0) {
                status += " (" + traced_count + ")"
            } else if (traced_count == 0 && assigned_recordings[recording]['assignment_completed_flag']==1) { 
                status = "COMPLETED WITH NO TRACES"
            } else {
                status += " (" + traced_count + ")"
            }
            recording_link = "<a href='" + assigned_recordings[recording]['recording_route'] + "'>" + assigned_recordings[recording]['start_time'] + "</a>"
            addStatisticsTableRow(tbody, [assigned_recordings[recording]['assignment_created_datetime'], status, assigned_recordings[recording]['assignment_user_name'] + " (" + assigned_recordings[recording]['assignment_user_login_id'] + ")", assigned_recordings[recording]['sp_species_name'], assigned_recordings[recording]['enc_encounter_name'], recording_link, assigned_recordings[recording]['created_datetime']  ])

        }
        $('#recording-list-box').append("<h3>Recording Assignment Status</h3>")

        $('#recording-list-box').append(assignedRecordingTable);
        
    } else {
        $('#recording-list-box').append("<p>There are no assigned recordings for the selected filters.</p>");
    }
    }
    var userStatisticsChart;
    function updateSelectionStatisticsForUser(response) {
        
        
        updateBarChartData(userStatisticsChart, 'user-statistics-chart', response.selectionAndContourStatisticsChartLabels, response.selectionAndContourStatisticsChartData).then(function (updated_chart) {
            userStatisticsChart = updated_chart
        })

        $('#user-statistics-title').text("Statistics for " + response.user_name + " (" + response.user_login_id + ")")

        table = createTable(['Statistic', 'Value'])
        tbody = table.find('tbody')
        addStatisticsTableRow(tbody, ['Selections uploaded', response.numSelectionFileUploads])
        addStatisticsTableRow(tbody, ['Selections uploaded', response.numCtrFileUploads])

        addStatisticsTableRow(tbody, ['Selections uploaded (lifetime)', response.numSelectionFiles])
        addStatisticsTableRow(tbody, ['Contours uploaded (lifetime)', response.numCtrFiles])

        addStatisticsTableRow(tbody, ['Annotation rejection rate', response.annotationRejectionRate + "%"])
        addStatisticsTableRow(tbody, ['Selections abandoned for less than a week', response.abandonedLessWeekSelectionCount])
        addStatisticsTableRow(tbody, ['Selections abandoned for more than a week', response.abandonedPlusWeekSelectionCount])

        // Replace the content of the selection box with the table
        $('#user-statistics-box').empty().append(table);

    }







    function refreshPage(user_only=false) {
        if (user_only === false){
            $('#selection-statistics-box').empty();
        }
        

        getPageStatistics(user_only=user_only);

    }

    function createTable(headers) {

        var table = $('<table>').addClass('statistics-table');
        var thead = $('<thead>').appendTo(table);
        var tbody = $('<tbody>').appendTo(table);
        
            // Create table header row
        var headerRow = $('<tr>').appendTo(thead);
        for (var i = 0; i < headers.length; i++) {
            $('<th>').text(headers[i]).appendTo(headerRow);
        }

        return table

    }

    function addStatisticsTableRow(tbody, data) {
        var row = $('<tr>').appendTo(tbody);
        for (var i = 0; i < data.length; i++) {
            var col = $('<td>').html(data[i]).appendTo(row);
        }
    }

    function daysAgoSelectorComplete(StartDateTime, dayCount) {
        StartDateTime = StartDateTime
        dayCount = dayCount
        refreshPage()
    }


    function updateSelectionStatistics(data) {
        $('#selection-traced-statistics-box').empty()
        table = createTable(['Statistic', 'Value'])
        tbody = table.find('tbody')
        addStatisticsTableRow(tbody, ['Selections uploaded', data.numSelectionFileUploads])
        addStatisticsTableRow(tbody, ['Contours uploaded', data.numCtrFileUploads])
        
        addStatisticsTableRow(tbody, ['Annotation rejection rate', data.annotationRejectionRate + "%"])
        addStatisticsTableRow(tbody, ['Selections abandoned for less than a week', data.abandonedLessWeekSelectionCount])
        addStatisticsTableRow(tbody, ['Selections abandoned for more than a week', data.abandonedPlusWeekSelectionCount])
        
        // Replace the content of the selection box with the table
        $('#selection-statistics-box').empty().append(table);

        selectionFileUserStatisticsTable = createTable(['User', 'Login ID', 'Selection Contributions'])
        for (var i = 0; i < data.selectionContributionsByUser.length; i++) {
            user_data = data.selectionContributionsByUser[i][1]
            addStatisticsTableRow(selectionFileUserStatisticsTable.find('tbody'), [user_data.name, user_data.login_id, user_data.contributions])
        }
        $('#selection-file-contributions-table-box').empty().append(selectionFileUserStatisticsTable);

        contourFileUserStatisticsTable = createTable(['User', 'Login ID', 'Contour Contributions'])
        for (var i = 0; i < data.contourContributionsByUser.length; i++) {
            user_data = data.contourContributionsByUser[i][1]
            addStatisticsTableRow(contourFileUserStatisticsTable.find('tbody'), [user_data.name, user_data.login_id, user_data.contributions])
        }
        $('#contour-file-contributions-table-box').empty().append(contourFileUserStatisticsTable);


        tracedTable = createTable(['Species', 'Traced'])
        tracedTbody = tracedTable.find('tbody')
        for (species in data.speciesCompleteCounter) {
            addStatisticsTableRow(tracedTbody, [data.speciesCompleteCounter[species].species_name, data.speciesCompleteCounter[species].complete])
        }
        addStatisticsTableRow(tracedTbody, ['TOTAL', data.completeCounter])
        $('#selection-traced-statistics-box').append($('<h3>').text('Traced Contours'))
        $('#selection-traced-statistics-box').append(tracedTable);

    }
</script>