{% macro recording_table_row(recordings) %}
<div class="table-responsive">
    <table class="table-striped">
        <tr>
            <th>Start Time</th>
            <th>Recording File</th>
            <th>Actions</th>
            <th>Selections</th>
        </tr>
        {% for recording in recordings %}
        <tr>
            <td>
                <label for="start-time-{{ recording.id }}">{{ recording.start_time_pretty }}</label><br>
            </td>
            </td>
            {% if recording.recording_file != None %}
            <td>
                <a class="button"
                    href="{{ url_for('recording.download_recording_file', recording_id=recording.id) }}">Download</a><br>
            </td>
            {% else %}
            <td>
                <label for="recording_file">This recording does not have an audio file</label><br>
            </td>
            {% endif %}
            <td>
                <a class="button"
                    href="{{ url_for('recording.recording_view', encounter_id=recording.encounter_id, recording_id=recording.id) }}">View
                    Selections</a><br>

            </td>
            <td>
                <label>{{recording.get_selections_count()}} ({{recording.get_selections_count((None,))}} to be traced)</label>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endmacro %}