<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}

<head>
    <title>View Selections</title>
    <link rel="stylesheet" href="../../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../../static/css/general-style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .user-item {
          cursor: pointer;
          background-color: whitesmoke;
          padding-inline: 5px;
          padding-top: 7px;
          padding-bottom: 7px;
          border-radius: 1px;
          border-color: black;
        }
        .user-item.selected {
          outline: 2px solid blue;
        }
      </style>
</head>

<body>
    <div class="outer-div">
        <h2>Recording Summary</h2>
        {% if logged_in_user_assigned %}
        {% if logged_in_user_assigned.completed_flag %}
        <p1>Assignment Status: COMPLETE</p1>
        <form action="{{url_for('recording.unflag_as_complete', recording_id=recording.id)}}" method="get">
            <button type="submit" id="unflag-as-complete-button">Unflag as Complete</button>
        </form>
        {% else %}
        <p1>Assignment Status: IN PROGRESS</p1>

        <form action="{{url_for('recording.flag_as_complete', recording_id=recording.id)}}" method="get">
        
            <button type="submit" id="flag-as-complete-button"
                onclick="{{url_for('recording.flag_as_complete', recording_id=recording.id)}}">Flag as Complete</button>
        </form>
        {% endif %}
        {% else %}
        <p1>Assignment Status: NOT ASSIGNED TO CURRENT USER</p1>
        {% endif %}
        <p>Start date: {{ recording.start_time }}</p>
        <a href="{{url_for('encounter.encounter_view', encounter_id=recording.encounter_id)}}">Encounter: {{
            recording.encounter.encounter_name }} ({{recording.encounter.location}})</a><br>
        <p>Number of selections: {{ recording.get_number_of_selections() }}</p>
        <p>Number of contours: {{ recording.get_number_of_contours() }}</p>
        {% set identifier_heading = "Selection Number" %}
        {% set unique_id = "selection-number"%}
        {% set process_route = "process_selection" %}
        {% set insert_route = "selection.selection_insert_bulk" %}
        {% if current_user.role_id in [1, 2] %}
        
        <form action="/recording/{{recording.id}}/extract_selection_stats" method="get">
            <button type="submit">Download Contour Stats</button>
        </form>
        <form action="/recording/{{recording.id}}/recalculate-contour-statistics" method="get">
            <button type="submit">Recalculate Contour Statistics</button>
        </form>

        <h3 style="margin-top: 20px;">Assign Users</h3>
        <p>Start typing and then select from the dropdown.</p>
        <input type="text" style="width: 100%" id="search-input" placeholder="Search users">
        <div class="user-dropdown" id="user-dropdown" data-recording-id="{{recording.id}}"></div><br>
        <table>
            {% for assigned_user in assigned_users %}
            <tr>
                <td style="color: gray;">{{assigned_user.user.name}} ({{assigned_user.user.login_id}})</td>
                <td><button class="user-row" id="user-row" style="width:100%;" data-user-id="{{assigned_user.user_id}}" data-recording-id="{{assigned_user.recording_id}}" onclick="removeAssignment()">Remove</button></td>
            </tr>
            {% endfor %}
        </table>

        <section>
            <div class="audit-history">
                <h3>Audit History</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Action</th>
                            <th>User</th>
                            <th>View Snapshot</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recording in recording_history %}
                            <tr>
                                <td>{{ recording['row_start'] }}</td>
                                <td>{{ recording['action'] }}</td>
                                <td>{{ recording['updated_by'].name }}</td>
                                <td><a href="{{ url_for('recording.recording_view', encounter_id=recording['encounter_id'], recording_id=recording['id'], snapshot_date=recording['row_start']) }}" >HERE</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        {% endif %}

        <h2>Add selections</h2>
        {% include 'recording/multi-file-upload-template.html' %}

        {% set identifier_heading = "Contour Number" %}
        {% set unique_id = "contour-number"%}
        {% set process_route = "process_contour" %}
        {% set insert_route = "selection.contour_insert_bulk" %}
        <h2>Add contours</h2>
        {% include 'recording/multi-file-upload-template.html' %}



        <h2>Manage selection table</h2>
        {% if recording.selection_table_file %}
        <form
            action="{{ url_for('recording.recording_selection_table_delete', encounter_id=recording.encounter_id, recording_id=recording.id)}}"
            method="post">
            <button type="submit">Delete</button>
        </form>
        
        <a href="{{ url_for('recording.export_selection_table', recording_id=recording.id, export_format='txt') }}">Download TXT</a>
        <a href="{{ url_for('recording.export_selection_table', recording_id=recording.id, export_format='csv') }}">Download CSV</a>

        {% else %}
        <form
            action="{{ url_for('recording.recording_selection_table_add', encounter_id=recording.encounter_id, recording_id=recording.id)}}"
            method="post" enctype="multipart/form-data">
            <input type="file" name="selection-table-file" id="selection-table-file">
            <button type="submit">Upload</button>
        </form>
        {% endif %}

        <h2>Selections for recording {{ recording.get_start_time_string() }}</h2>
        {% if selections|length > 0 %}
        <input type="submit" value="Delete Selected" onclick="deleteSelectedSelections()"><br><br>
        <table>
            <tr>
                <th><input type="checkbox" id="selectAllCheckBox" onchange="selectAllRows()"></th>
                <th></th>
                <th>Selection</th>
                <th>Annotation</th>
                <th>Contour</th>
                <th>Confirmation</th>
            </tr>
            <form id="deleteForm" onsubmit="return false;">
                {% for selection in selections %}
                <tr>
                    <td><input class="rowCheckbox" type="checkbox" name="selectedSelections" value="{{ selection.id }}">
                    </td>
                    <td><a href="{{ url_for('selection.selection_view', selection_id=selection.id)}}">View</a> </td>
                    <td>
                        <label style="float:left; margin-right:15px;">{{ selection.selection_number }}</label>
                        {% if selection.selection_file %}
                        <label style="float:left;">(</label>
                        <a style="float:left;"
                            href="{{ url_for('download_file', relative_path=selection.selection_file.get_full_relative_path()) }}">download</a>)<br>
                        {% else %}
                        <section id="encounter-summary"> No selection file available</section>
                        {% endif %}
                    </td>
                    <td>
                        <label>{{ selection.annotation }}</label>
                    </td>
                    <td>
                        {% if selection.contour_file %}
                        <a
                            href="{{ url_for('download_file', relative_path=selection.contour_file.get_full_relative_path()) }}">Download</a><br>
                        <a href="{{url_for('selection.contour_file_delete', selection_id=selection.id)}}">Delete</a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="selection-row" data-selection-id="{{selection.id}}">
                        
                        {% if selection.traced == None %}
                            {% if selection.contour_file %}
                            <button type="button" style="width: 100%" class="confirm-file-upload">Confirm File Upload</button>
                            {% else %}
                            <button type="button" style="width: 100%" class="confirm-no-file-upload">Confirm No File Upload</button>
                            {% endif %}
                            <p id="traced-status-label" hidden>Confirmed</p>
                        {% else %}
                            <p id="traced-status-label">Confirmed</p>
                        {% endif %}
                    </div>
                        
                                

                    </td>
                </tr>
                {% endfor %}
            </form>
        </table>
        <a href="{{url_for('download_folder', relative_path=recording.generate_relative_path_for_selections())}}">Download
            All</a>
        {% else %}
        <p>This recording has no selections. Please use the form above to add selections.</p>
        {% endif %}
    </div>
</body>

<script>

removeAssignment = function() {
    var xhr = new XMLHttpRequest();
    const recordingId = event.target.closest('.user-row').dataset.recordingId;
    const userId = event.target.closest('.user-row').dataset.userId
    xhr.open('GET', '/unassign_recording/' + userId + '/' + recordingId, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function () {
        window.location.href = window.location.href;
    }
    xhr.send();
}

$(document).ready(function() {
      $('#search-input').on('input', function() {
        var searchTerm = $(this).val();
        if (searchTerm.length > 0) {
          $.ajax({
            url: '/api/users',
            method: 'GET',
            data: {
              search: searchTerm
            },
            success: function(response) {
              var users = response.users;
              var dropdown = $('#user-dropdown');
              dropdown.empty();
              users.forEach(function(user) {
                var userItem = $('<div>').addClass('user-item').text(user.name + " (" + user.login_id + ")");
                userItem.on('click', function() {
                  $('.user-item').removeClass('selected');
                  $(this).addClass('selected');
                });
                userItem.on('dblclick', function() {
                    console.log(" DOUBLE BLOCK")
                    var xhr = new XMLHttpRequest();
                    const recordingId = event.target.closest('.user-dropdown').dataset.recordingId;
                    xhr.open('GET', '/assign_recording/' + user.id + '/' + recordingId, true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function () {
                    console.log(xhr)
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        console.log("completed")
                        window.location.href = window.location.href;
                    }
                }
                xhr.send();
                });
                dropdown.append(userItem);
              });
            }
          });
        } else {
          $('#user-dropdown').empty();
        }
      });
    });   

const selectionRows = document.querySelectorAll('.selection-row');

selectionRows.forEach(row => {
    row.addEventListener('click', event => {
        console.log("Click")
        if (event.target.classList.contains('confirm-file-upload')) {

            event.target.disabled=true
            event.target.innerHTML="Loading..."

            const selectionId = event.target.closest('.selection-row').dataset.selectionId;
            fetch(`/selection/${selectionId}/confirm_contour_upload`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    // Any data you want to send to the server
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const label = event.target.closest('.selection-row').querySelector('#traced-status-label');
                    label.hidden = false;
                    event.target.hidden = true
                } else {
                    // Handle error case
                    // Display error message or perform any other action
                }
            })
            .catch(error => {
                // Handle error case
                // Display error message or perform any other action
            });
        } else if (event.target.classList.contains('confirm-no-file-upload')) {
            event.target.innerHTML="Loading..."
            event.target.disabled=true
            
            const selectionId = event.target.closest('.selection-row').dataset.selectionId;
            fetch(`/selection/${selectionId}/confirm_no_contour_upload`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    // Any data you want to send to the server
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const label = event.target.closest('.selection-row').querySelector('#traced-status-label');
                    label.hidden = false;
                    event.target.hidden = true
                } else {
                    // Handle error case
                    // Display error message or perform any other action
                }
            })
            .catch(error => {
                // Handle error case
                // Display error message or perform any other action
            });
        }
    });
});

    /**
     * Toggles the selection of all rows based on the state of the "Select All" checkbox.
     */
    function selectAllRows() {
        // Get references to the "Select All" checkbox and all row checkboxes
        const selectAllCheckBox = document.getElementById('selectAllCheckBox');
        const rowCheckboxes = document.querySelectorAll('.rowCheckbox');

        // Check the state of the "Select All" checkbox
        if (selectAllCheckBox.checked) {
            // If the "Select All" checkbox is checked, select all rows
            rowCheckboxes.forEach(checkbox => {
                checkbox.checked = true;
            });
        } else {
            // If the "Select All" checkbox is unchecked, deselect all rows
            rowCheckboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
        }
    }

    /*
    function updateNumberOfUnresolvedWarnings(numberOfUnresolvedWarnings) {
        document.getElementById('unresolved-warning-count').textContent = 'Unresolved warnings: ' + numberOfUnresolvedWarnings;
        if (numberOfUnresolvedWarnings > 0) {
            document.getElementById('unresolved-warning-count').style.color = 'orange';
        } else {
            document.getElementById('unresolved-warning-count').style.color = 'black';
        }
    }

    */
    /*
    var ignoreButtons = document.querySelectorAll('.ignore-button');

    ignoreButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            var selectionId = this.getAttribute('data-selection-id');
            this.hidden = true;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/selection/selection_ignore_warnings/' + selectionId, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var warnings = document.querySelectorAll('#warning-' + response.selection_id);
                    warnings.forEach(function (warning) {
                        warning.style.color = response.ignore_warnings ? 'black' : 'orange';
                        button.hidden = false;
                        button.textContent = response.ignore_warnings ? 'Flag' : 'Resolve';

                    });
                    updateWarningCount()
                }
            };
            xhr.send(JSON.stringify({ selection_id: selectionId }));
        });
    });
    document.querySelector('.ignore-table-button').addEventListener('click', function (event) {
        event.preventDefault();
        var button = event.target;
        button.hidden = true;
        var recordingId = button.dataset.recordingId;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/recording/recording_selection_table_ignore_warnings/' + recordingId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');


        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                button.textContent = response.ignore_selection_table_warnings ? 'Flag' : 'Resolve';

                var missingSelectionTable = document.getElementById('missing-selection-table');
                var header = missingSelectionTable.querySelector('th');
                var rows = missingSelectionTable.querySelectorAll('td');
                updateWarningCount()
                if (response.ignore_selection_table_warnings) {
                    header.textContent = 'Missing Selection Numbers (Resolved)';
                    header.style.color = 'black'
                    rows.forEach(function (row) {
                        row.style.color = 'black';
                    });
                } else {
                    header.textContent = 'Missing Selection Numbers (Unresolved)';
                    header.style.color = 'orange'
                    rows.forEach(function (row) {
                        row.style.color = 'orange';
                    });
                }
                button.hidden = false;

            }
        };
        xhr.send(JSON.stringify({
            ignore_selection_table_warnings: button.value === '1' ? false : true
        }));
    });
    */
    /*
    function updateWarningCount() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/recording/{{recording.id}}/get-unresolved-warnings', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        document.getElementById('unresolved-warning-count').textContent = 'Unresolved warnings: updating...';

        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                updateNumberOfUnresolvedWarnings(response.number_of_unresolved_warnings);
            }
        };
        xhr.send(JSON.stringify({ recording_id: '{{recording.id}}' }));
    }


    updateWarningCount();
    */







    /**
     * Deletes the selected selections in bulk using an AJAX request.
     */
    async function deleteSelectedSelections() {
        // Get the delete form and all selected checkboxes
        var form = document.getElementById('deleteForm');
        var selectedCheckboxes = document.querySelectorAll('input[name="selectedSelections"]:checked');

        // Create an empty array to store the selected ids
        var selectedIds = [];

        // Extract the values of the selected checkboxes and store them in the selectedIds array
        for (var i = 0; i < selectedCheckboxes.length; i++) {
            selectedIds.push(selectedCheckboxes[i].value);
        }

        // Define the URL for the delete request
        var url = "{{ url_for('recording.recording_delete_selections', recording_id=recording.id) }}";

        // Create an XMLHttpRequest object for making the delete request
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', url);
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Once the request is complete, redirect to the current page
        xhr.onload = function () {
            window.location.href = window.location.href;
        };

        // Send the selectionIds array as JSON in the request body
        xhr.send(JSON.stringify({ selectionIds: selectedIds }));
    }


    /**
     * Selects or deselects all checkboxes based on the state of the Shift key and the last checked checkbox.
     */

    var lastChecked;
    var checkboxes = Array.from(document.querySelectorAll('input[name="selectedSelections"]'));

    // Add a click event listener to each checkbox
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('click', function (event) {
            // Check if the Shift key is pressed and there is a lastChecked checkbox
            if (event.shiftKey && lastChecked) {
                // Calculate the start and end positions of the range of checkboxes to be selected
                var start = checkboxes.indexOf(lastChecked);
                var end = checkboxes.indexOf(event.target);

                // Select the checkboxes within the calculated range
                checkboxes.slice(Math.min(start, end), Math.max(start, end) + 1)
                    .forEach(function (checkbox) {
                        checkbox.checked = event.target.checked;
                    });
            }

            // Update the lastChecked variable to the currently clicked checkbox
            lastChecked = event.target;
        });
    });



</script>

</html>