<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}

<head>
    <title>View Selections</title>
    <link rel="stylesheet" href="../../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../../static/css/general-style.css">
</head>

<body>
    <div class="outer-div">
        <h2>Recording Summary</h2>
        <p>Start date: {{ recording.start_time }}</p>
        <a href="{{url_for('encounter.encounter_view', encounter_id=recording.encounter_id)}}">Encounter: {{
            recording.encounter.encounter_name }} ({{recording.encounter.location}})</a><br>
        <p>Number of selections: {{ recording.get_number_of_selections() }}</p>
        <p>Number of contours: {{ recording.get_number_of_contours() }}</p>
        {% set identifier_heading = "Selection Number" %}
        {% set unique_id = "selection-number"%}
        {% set process_route = "process_selection" %}
        {% set insert_route = "selection.selection_insert_bulk" %}
        {% if current_user.role_id in [1, 2] %}

        <section>
            <div class="audit-history">
                <h3>Audit History</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Action</th>
                            <th>User</th>
                            <th>View Snapshot</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recording in recording_history %}
                            <tr>
                                <td>{{ recording['row_start'] }}</td>
                                <td>{{ recording['action'] }}</td>
                                <td>{{ recording['updated_by'].name }}</td>
                                <td><a href="{{ url_for('recording.recording_view', encounter_id=recording['encounter_id'], recording_id=recording['id'], snapshot_date=recording['row_start']) }}" >HERE</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        {% endif %}

        <h2>Add selections</h2>
        {% include 'recording/multi-file-upload-template.html' %}

        {% set identifier_heading = "Contour Number" %}
        {% set unique_id = "contour-number"%}
        {% set process_route = "process_contour" %}
        {% set insert_route = "selection.contour_insert_bulk" %}
        <h2>Add contours</h2>
        {% include 'recording/multi-file-upload-template.html' %}



        <h2>Manage selection table</h2>
        {% if recording.selection_table_file %}
        <form
            action="{{ url_for('recording.recording_selection_table_delete', encounter_id=recording.encounter_id, recording_id=recording.id)}}"
            method="post">
            <button type="submit">Delete</button>
        </form>
        <a
            href="{{url_for('download_file', relative_path=recording.selection_table_file.get_full_relative_path())}}">Download</a>
        {% else %}
        <form
            action="{{ url_for('recording.recording_selection_table_add', encounter_id=recording.encounter_id, recording_id=recording.id)}}"
            method="post" enctype="multipart/form-data">
            <input type="file" name="selection-table-file" id="selection-table-file">
            <button type="submit">Upload</button>
        </form>
        {% endif %}

        <h2>Selections for recording {{ recording.get_start_time_string() }}</h2>
        {% if selections|length > 0 %}
        <input type="submit" value="Delete Selected" onclick="deleteSelectedSelections()"><br><br>
        <table>
            <tr>
                <th><input type="checkbox" id="selectAllCheckBox" onchange="selectAllRows()"></th>
                <th></th>
                <th>Selection</th>
                <th>Annotation</th>
                <th>Contour</th>
                <th>Confirmation</th>
            </tr>
            <form id="deleteForm" onsubmit="return false;">
                {% for selection in selections %}
                <tr>
                    <td><input class="rowCheckbox" type="checkbox" name="selectedSelections" value="{{ selection.id }}">
                    </td>
                    <td><a href="{{ url_for('selection.selection_view', selection_id=selection.id)}}">View</a> </td>
                    <td>
                        <label style="float:left; margin-right:15px;">{{ selection.selection_number }}</label>
                        {% if selection.selection_file %}
                        <label style="float:left;">(</label>
                        <a style="float:left;"
                            href="{{ url_for('download_file', relative_path=selection.selection_file.get_full_relative_path()) }}">download</a>)<br>
                        {% else %}
                        <section id="encounter-summary"> No selection file available</section>
                        {% endif %}
                    </td>
                    <td>
                        <label>{{ selection.annotation }}</label>
                    </td>
                    <td>
                        {% if selection.contour_file %}
                        <a
                            href="{{ url_for('download_file', relative_path=selection.contour_file.get_full_relative_path()) }}">Download</a><br>
                        <a href="{{url_for('selection.contour_file_delete', selection_id=selection.id)}}">Delete</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if selection.contour_file %}
                            {% if selection.traced == None %}
                                {% if selection.annotation == "N" %}
                                    <p1>Contour uploaded but annotation N</p1><br>
                                    <button>Confirm correct</button>
                                {% elif selection.annotation == "M" %}
                                    <p1>Contour uploaded but annotation M</p1><br>
                                    <button>Confirm correct</button>
                                {% elif selection.annotation == None %}
                                    <p1>No annotation but contour uploaded</p1><br>
                                    <button>Confirm correct</button>
                                {% endif %}
                            {% elif selection.traced == True %}
                                <p1>Contour confirmed</p1><br>
                                <button>Flag issue</button>
                            {% else %}
                                <p1>No contour confirmed</p1><br>
                                <button>Flag issue</button>
                            {% endif %}
                        {% elif not selection.contour_file %}
                            {% if selection.annotation == "Y" %}
                                <p1>Contour not uploaded but annotation Y</p1><br>
                                <button>Confirm correct</button>
                            {% elif selection.annotation == "M" %}
                                <p1>Contour not uploaded but annotation M</p1><br>
                                <button>Confirm correct</button>
                            {% elif selection.annotation == None %}
                                <p1>No annotation and contour not uploaded</p1><br>
                                <button>Confirm correct</button>
                            {% endif %}
                        {% endif %}
                        
                                

                    </td>
                </tr>
                {% endfor %}
            </form>
        </table>
        <a href="{{url_for('download_folder', relative_path=recording.generate_relative_path_for_selections())}}">Download
            All</a>
        {% else %}
        <p>This recording has no selections. Please use the form above to add selections.</p>
        {% endif %}
    </div>
</body>

<script>
    /**
     * Toggles the selection of all rows based on the state of the "Select All" checkbox.
     */
    function selectAllRows() {
        // Get references to the "Select All" checkbox and all row checkboxes
        const selectAllCheckBox = document.getElementById('selectAllCheckBox');
        const rowCheckboxes = document.querySelectorAll('.rowCheckbox');

        // Check the state of the "Select All" checkbox
        if (selectAllCheckBox.checked) {
            // If the "Select All" checkbox is checked, select all rows
            rowCheckboxes.forEach(checkbox => {
                checkbox.checked = true;
            });
        } else {
            // If the "Select All" checkbox is unchecked, deselect all rows
            rowCheckboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
        }
    }

    /*
    function updateNumberOfUnresolvedWarnings(numberOfUnresolvedWarnings) {
        document.getElementById('unresolved-warning-count').textContent = 'Unresolved warnings: ' + numberOfUnresolvedWarnings;
        if (numberOfUnresolvedWarnings > 0) {
            document.getElementById('unresolved-warning-count').style.color = 'orange';
        } else {
            document.getElementById('unresolved-warning-count').style.color = 'black';
        }
    }

    */
    /*
    var ignoreButtons = document.querySelectorAll('.ignore-button');

    ignoreButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            var selectionId = this.getAttribute('data-selection-id');
            this.hidden = true;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/selection/selection_ignore_warnings/' + selectionId, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var warnings = document.querySelectorAll('#warning-' + response.selection_id);
                    warnings.forEach(function (warning) {
                        warning.style.color = response.ignore_warnings ? 'black' : 'orange';
                        button.hidden = false;
                        button.textContent = response.ignore_warnings ? 'Flag' : 'Resolve';

                    });
                    updateWarningCount()
                }
            };
            xhr.send(JSON.stringify({ selection_id: selectionId }));
        });
    });
    document.querySelector('.ignore-table-button').addEventListener('click', function (event) {
        event.preventDefault();
        var button = event.target;
        button.hidden = true;
        var recordingId = button.dataset.recordingId;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/recording/recording_selection_table_ignore_warnings/' + recordingId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');


        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                button.textContent = response.ignore_selection_table_warnings ? 'Flag' : 'Resolve';

                var missingSelectionTable = document.getElementById('missing-selection-table');
                var header = missingSelectionTable.querySelector('th');
                var rows = missingSelectionTable.querySelectorAll('td');
                updateWarningCount()
                if (response.ignore_selection_table_warnings) {
                    header.textContent = 'Missing Selection Numbers (Resolved)';
                    header.style.color = 'black'
                    rows.forEach(function (row) {
                        row.style.color = 'black';
                    });
                } else {
                    header.textContent = 'Missing Selection Numbers (Unresolved)';
                    header.style.color = 'orange'
                    rows.forEach(function (row) {
                        row.style.color = 'orange';
                    });
                }
                button.hidden = false;

            }
        };
        xhr.send(JSON.stringify({
            ignore_selection_table_warnings: button.value === '1' ? false : true
        }));
    });
    */
    /*
    function updateWarningCount() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/recording/{{recording.id}}/get-unresolved-warnings', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        document.getElementById('unresolved-warning-count').textContent = 'Unresolved warnings: updating...';

        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                updateNumberOfUnresolvedWarnings(response.number_of_unresolved_warnings);
            }
        };
        xhr.send(JSON.stringify({ recording_id: '{{recording.id}}' }));
    }


    updateWarningCount();
    */







    /**
     * Deletes the selected selections in bulk using an AJAX request.
     */
    async function deleteSelectedSelections() {
        // Get the delete form and all selected checkboxes
        var form = document.getElementById('deleteForm');
        var selectedCheckboxes = document.querySelectorAll('input[name="selectedSelections"]:checked');

        // Create an empty array to store the selected ids
        var selectedIds = [];

        // Extract the values of the selected checkboxes and store them in the selectedIds array
        for (var i = 0; i < selectedCheckboxes.length; i++) {
            selectedIds.push(selectedCheckboxes[i].value);
        }

        // Define the URL for the delete request
        var url = "{{ url_for('recording.recording_delete_selections', recording_id=recording.id) }}";

        // Create an XMLHttpRequest object for making the delete request
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', url);
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Once the request is complete, redirect to the current page
        xhr.onload = function () {
            window.location.href = window.location.href;
        };

        // Send the selectionIds array as JSON in the request body
        xhr.send(JSON.stringify({ selectionIds: selectedIds }));
    }


    /**
     * Selects or deselects all checkboxes based on the state of the Shift key and the last checked checkbox.
     */

    var lastChecked;
    var checkboxes = Array.from(document.querySelectorAll('input[name="selectedSelections"]'));

    // Add a click event listener to each checkbox
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('click', function (event) {
            // Check if the Shift key is pressed and there is a lastChecked checkbox
            if (event.shiftKey && lastChecked) {
                // Calculate the start and end positions of the range of checkboxes to be selected
                var start = checkboxes.indexOf(lastChecked);
                var end = checkboxes.indexOf(event.target);

                // Select the checkboxes within the calculated range
                checkboxes.slice(Math.min(start, end), Math.max(start, end) + 1)
                    .forEach(function (checkbox) {
                        checkbox.checked = event.target.checked;
                    });
            }

            // Update the lastChecked variable to the currently clicked checkbox
            lastChecked = event.target;
        });
    });



</script>

</html>