{% macro recording_form(editing, file_timezone, local_timezone, recording) %}

<label for="time_start" class="bold">Start Time</label>
<input type="datetime-local" class="date-input small" id="time_start" name="time_start" step="1" required
    onchange="calculateTimeOffsets('time_start','gmt-offset-label','local-offset-label','file-time-label','{{ file_timezone }}','{{ local_timezone }}')"
    {% if editing %}value="{{ recording.get_start_time_string() }}" {% endif %}>
<div id="time-offsets">
    <label style="display: none;" id="file-time-label"></label>
    <label style="display: none;" id="gmt-offset-label"></label>
    <label style="display: none;" id="local-offset-label"></label>
</div>

<label for="recording-file-input" class="bold">Recording File</label>
{% if editing and recording.recording_file %}
<div style="display: flex;">
    <a style="margin-right: 0.25rem" class="button small"
        href="{{ url_for('recording.download_recording_file', recording_id=recording.id) }}">Download</a>
    <a style="margin-left: 0.25rem" class="button small"
        href="{{ url_for('general.get_file_details', file_id=recording.recording_file.id) }}?file_details=Recording File for {{recording.get_unique_name(' - ')}}">File
        Details</a>

    <form
        action="{{ url_for('recording.recording_file_delete', recording_id=recording.id, file_id=recording.recording_file.id) }}"
        method="post">

        <a style="margin-left: 0.25rem;" class="button small"
            href="{{ url_for('recording.recording_file_delete', recording_id=recording.id, file_id=recording.recording_file.id) }}">Delete</a>

</div>
{% else %}
<input class="file-input small" type="file" id="recording-file-input" name="recording-file-input" onchange="extractDate(this.value);" accept=".wav">
{% endif %}
<script src="{{ url_for('general.serve_script', filename='time-management.js') }}"></script>

<script>

    /**
     * Extracts the date from a given file name and updates the time_start and seconds fields in the document.
     * The date is extracted using an HTTP request to a server-side method which determines the regex code.
     * 
     * @param {string} fileName - The name of the file to extract the date from.
     */
    function extractDate(fileName) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "{{ url_for('recording.extract_date', filename='') }}" + encodeURIComponent(fileName), true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            console.log(xhr)
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.date != null) {
                    var date = new Date(response.date);
                    // cut out milliseconds
                    var formattedDate = date.toISOString().slice(0, 19);
                    if ('{{editing}}' == 'False') {
                        document.getElementById('time_start').value = formattedDate;

                    }
                    calculateTimeOffsets('time_start', 'gmt-offset-label', 'local-offset-label', 'file-time-label', '{{ file_timezone }}', '{{ local_timezone }}')

                }
            }
        }
        xhr.send();
    }

    $(document).ready(function () {
        if ('{{editing}}' == 'True') {
            calculateTimeOffsets('time_start', 'gmt-offset-label', 'local-offset-label', 'file-time-label', '{{ file_timezone }}', '{{ local_timezone }}')
        }
    });


</script>

{% endmacro %}