{% macro recording_table(recordings) %}
<table>
    <tr>
        <th>Start Time</th>
        <th>Recording File</th>
        <th>Actions</th>
    </tr>
    {% for recording in recordings %}
    <tr>
        <form
            action="{{ url_for('recording.recording_update', encounter_id=recording.encounter_id, recording_id=recording.id)}}"
            method="post" enctype="multipart/form-data">
            <td>
                {% if recording.id in assignment_recording_ids %}
                <p>Assigned</p>
                {% endif %}
                <label hidden>{{ recording.get_start_time() }}</label><br>
                {% if g.user.role_id in [1, 2] %}
                <input style="width: 100%" type="datetime-local" id="time_start" name="time_start" value="{{ recording.get_start_time_string() }}" required>
                <input type="number" id="seconds" name="seconds" min="0" max="59" placeholder="Seconds" value="{{ recording.get_seconds() }}" required><br>
                {% endif %}
            </td>
            {% if recording.recording_file != None %}
            <td>
                <a href="{{ url_for('download_file', relative_path=recording.recording_file.get_full_relative_path()) }}">Download</a><br>
                {% if g.user.role_id in [1, 2] %}
                <a href="{{ url_for('recording.recording_file_delete', encounter_id=recording.encounter_id, recording_id=recording.id, file_id=recording.recording_file.id) }}">Delete</a>
                {% endif %}
            </td>
            {% else %}
            <td>
                {% if g.user.role_id in [1, 2] %}
                <label for="recording_file" class="btn">Add file: </label>
                <input style="width:100%;" type="file" id="recording_file" name="recording_file"><br>
                {% else %}
                <label for="recording_file" class="btn">No file</label>
                {% endif %}
            </td>
            {% endif %}
            <td>
                <button style="width:100%" type="button" onclick="window.location.href='{{ url_for('recording.recording_view', encounter_id=recording.encounter_id, recording_id=recording.id) }}'">View Selections</button><br>
                {% if g.user.role_id in [1, 2] %}
                <button style="width: 100%" type="submit">Update</button>
                <button style="width: 100%" type="button" onclick="return confirm('Are you sure you want to delete this recording?') ? window.location.href='{{ url_for("recording.recording_delete", encounter_id=recording.encounter_id, recording_id=recording.id) }}':false;">Delete</button><br>
                {% endif %}
            </td>

        </form>
    </tr>
    {% endfor %}
</table>
{% endmacro %}