{% macro recording_table() %}

<style>
    .user-item {
      cursor: pointer;
      background-color: whitesmoke;
      padding-inline: 5px;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 1px;
      border-color: black;
    }
    .user-item.selected {
      outline: 2px solid blue;
    }
</style>


<p>Start typing and then select from the dropdown.</p>
<input type="text" style="width: 100%" id="search-input" placeholder="Search users">
<div class="user-dropdown" id="user-dropdown"></div><br>

<script>


    $(document).ready(function () {
      
      // This method requires a method onUserSelectionDropdownComplete(userId) to be defined outside of the
      // macro to work. This method is called once the user selects a name from the user dropdown and passes
      // that user's ID with it.
        $('#search-input').on('input', function () {
        var searchTerm = $(this).val();
        var httpRoute = $(this).data('http-route');
        if (searchTerm.length > 0) {
          $.ajax({
            url: '/api/users',
            method: 'GET',
            data: {
              search: searchTerm
            },
            success: function (response) {
              var users = response.users;
              var dropdown = $('#user-dropdown');
              dropdown.empty();
              users.forEach(function (user) {
                var userItem = $('<div>').addClass('user-item').text(user.name + " (" + user.login_id + ")");
                userItem.on('click', function () {
                  $('.user-item').removeClass('selected');
                  $(this).addClass('selected');
                });
                userItem.on('click', function () {
                  var userId = $(this).data('user-id');
                  onUserSelectionDropdownComplete(userId)
                });
                userItem.data('user-id', user.id);
                dropdown.append(userItem);
              });
            }
          });
        } else {
          $('#user-dropdown').empty();
        }
      });
    });
  </script>
{% endmacro %}