<!--Create an entry box where one can search for users
and they appear on a dropdown. 

This macro depends on the existence of a route /api/users which takes
a body {search:str} where search is the string currently entered in the
dropdown. 

Upon selection of a user, the function onUserSelectionDropdownComplete(user_id, user)
is called. This function must be defined in the code that called this macro. Failure
to do so will result in critical error.-->

{% macro user_search(show_message) %}

<style>
    .user-item {
      cursor: pointer;
      background-color: whitesmoke;
      padding-inline: 5px;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 2px;
      border-color: black;
      border-width: 2px;
      margin: 2px;
    }
    .user-item.selected {
      outline: 2px solid blue;
    }
</style>
<link rel="stylesheet" href="../../../static/css/general-style.css">

{% if show_message %}
<p>Start typing and then select from the dropdown.</p>
{% endif %}
<input type="text" class="text-input small" id="search-input" placeholder="Search users">
<div class="user-dropdown" id="user-dropdown"></div><br>

<script>


    $(document).ready(function () {
      
      // This method requires a method onUserSelectionDropdownComplete(userId) to be defined outside of the
      // macro to work. This method is called once the user selects a name from the user dropdown and passes
      // that user's ID with it.
        $('#search-input').on('input', function () {
        var searchTerm = $(this).val();
        var httpRoute = $(this).data('http-route');
        if (searchTerm.length > 0) {
          $.ajax({
            url: '/api/users',
            method: 'GET',
            data: {
              search: searchTerm
            },
            success: function (response) {
              var users = response.users;
              var dropdown = $('#user-dropdown');
              dropdown.empty();
              users.forEach(function (user) {
                var userItem = $('<div>').addClass('user-item').text(user.name + " (" + user.login_id + ")");
                userItem.on('click', function () {
                  $('.user-item').removeClass('selected');
                  $(this).addClass('selected');
                });
                userItem.on('click', function () {
                  var userId = $(this).data('user-id');
                  dropdown.empty();
                  $('#search-input').val(user.login_id);
                  onUserSelectionDropdownComplete(userId, user)
                });
                userItem.data('user-id', user.id);
                dropdown.append(userItem);
              });
            }
          });
        } else {
          $('#user-dropdown').empty();
        }
      });
    });

    function clearUserDropdownInput() {
      $('#search-input').val('');
    }
  </script>
{% endmacro %}