

<table>
    <tr>
      <th>Assigned On</th>
      <th>Species</th>
      <th>Encounter</th>
      <th>Recording</th>
      <th>Completed</th>
  </tr>   
  {% for recording_and_assignment in recordings %}

  <tr>
    <td>{{ recording_and_assignment['assignment'].created_datetime }}</td>
    <td>{{ recording_and_assignment['recording'].encounter.species.scientific_name }}</td>
    <td><a href="{{ url_for('encounter.encounter_view', encounter_id=recording_and_assignment['recording'].encounter.id) }}">{{ recording_and_assignment['recording'].encounter.encounter_name }}</a></td>
    <td><a href="{{ url_for('recording.recording_view', recording_id=recording_and_assignment['recording'].id, encounter_id= recording_and_assignment['recording'].encounter.id) }}">{{ recording_and_assignment['recording'].start_time_pretty }}</a></td>
    <td>{{ recording_and_assignment['assignment'].is_reviewed() }}</td>
  </tr>
  {% endfor %}
</table>
