<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('general.serve_style', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('general.serve_style', filename='hero-section.css') }}">
  <link rel="stylesheet" href="{{ url_for('general.serve_style', filename='input-styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('general.serve_style', filename='general-style.css') }}">
  <link rel="stylesheet" href="{{ url_for('general.serve_style', filename='app-styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('general.serve_style', filename='header-styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('general.serve_style', filename='jquery.toast.css') }}">
  <script src="{{ url_for('general.serve_script', filename='jquery-3.7.1.js') }}"></script>
  <script src="{{ url_for('general.serve_script', filename='requests.js') }}"></script>
  <script src="{{ url_for('general.serve_script', filename='jquery.toast.min.js') }}"></script>

</head>

<body>
  <header>
    <div class="header-container">
      <div class="brand-logo">
        <a href="{{ url_for('general.home') }}">
          <img src="{{ url_for('general.serve_resource', filename='OCEAN-banner.png') }}" alt="">
        </a>
      </div>
      <div class="brand-title">
        <label class="app-brand-title font-scale-1">OCEAN (v1.0.5)</label>
      </div>
      <div class="user-message">
        <label>{% if current_user.is_authenticated %}You are signed in as {{ current_user.name }}
          ({{current_user.role.name}}){% else %}You are not signed in{% endif %}</label>
      </div>
      <button onclick="toggleMenu()" class="hamburger">&#9776;</button>

    </div>

    {% if session['snapshot_date'] %}
    <div id="warning-bar" style="background-color: red; color: white; padding: 10px; margin-top: 10px;">
      Archive mode: viewing snapshot date {{ session['snapshot_date'] }} (<a
        href="{{ url_for('general.reset_snapshot_in_session') }}">Exit View</a>)
    </div>
    {% endif %}
    <div class="blue-bar">
      <div class="user-message">
        {% if current_user.is_authenticated %}You are signed in as {{ current_user.name }}
        ({{current_user.role.name}}){% else %}You are not signed in{% endif %}
      </div>
    </div>
    <nav class="menu">
      <a href="{{url_for('general.home')}}" title="Go to home page" class="menu-item dynamic">Home</a>
      {% if current_user.is_authenticated %}
      <a href="{{url_for('encounter.encounter')}}" title="Go to encounters page"
        class="menu-item dynamic">Encounters</a>
      {% if current_user.role_id in [1,2] %}
      <a href="{{url_for('datahub.datahub_view')}}" title="Go to data hub page" class="menu-item dynamic">Data Hub</a>
      <a href="{{ url_for('healthcentre.healthcentre_view') }}" title="Go to health centre page"
        class="menu-item dynamic">Health Centre</a>
      <a href="{{ url_for('admin.admin_dashboard') }}" title="Go to admin page" class="menu-item dynamic">Admin</a>
      {% endif %}
      {% else %}
      <a href="/login" class="menu-item dynamic">Login</a>
      {% endif %}
    </nav>
  </header>
  <div id="flash-messages" style="display: none">{{ get_flashed_messages(with_categories=true) | tojson }}</div>
  <script>
    $(document).ready(function() {
      const messages = JSON.parse(document.getElementById('flash-messages').innerHTML);
      messages.forEach(message => {
        const icon = {
          success: 'success',
          info: 'info',
          warning: 'warning',
          error: 'error'
        }[message[0]];
        $.toast({
          heading: message[1],
          icon: icon,
          showHideTransition: 'slide',
          position: 'top-right',
          hideAfter: 5000,
          loader: false
        });
      });
    });
  </script>

  <script>
    function closeFlashMessage() {
      const flashContainers = document.querySelectorAll('.flash-container');
      flashContainers.forEach(container => {
        container.remove();
      });
    }



    function toggleMenu() {
      const menu = document.querySelector('.menu');
      menu.classList.toggle('show');
    }
  </script>
</body>

</html>