@media (min-width: 768px) {
    .hero-section {
        position: relative;
        height: 300px;
    }

    .hero-section .hero-section__image-mask {
        height: 300px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding:0;
    }

    .hero-section img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: none;
        min-height: 100%;
        min-width: 100%;
    }

    .hero-section .hero-section__content {
        position: absolute;
        bottom: calc(1.5vw + 1rem);
        left: 15px;
        max-width: 620px;
    }

    .hero-section .hero-section__heading {
        background: rgba(0, 83, 155, 0.9);
        color: white;
        margin: 0 0 0 -30px;
        padding: 0px 30px;
        font-size: calc(2.48832em + .56344*((100vw - 36em) / 39));
    }
}