<label for="login_id" style="margin-bottom:5px;">Email (unable to change as this is the ID used for single-sign-on)</label>
<input type="text" id="login_id" name="login_id" {% if editing %} value="{{ user.login_id }}" disabled {% endif %} required>
<label for="name" style="margin-bottom:5px;">Name</label>
<input type="text" id="name" name="name" {% if editing %} value="{{ user.name }}" {% endif %} required>
<label for="role" style="margin-bottom:5px;">Role</label>
<select id="role" name="role_id">
    {% for role in roles %}
        <option value="{{ role.id }}" {% if editing and role.id == user.role.id %}selected{% endif %}>{{ role.name }}</option>
    {% endfor %}
</select>
<label for="expiry" style="margin-bottom:5px;">Expiry</label>
<input type="date" id="expiry" name="expiry" {% if editing %} value="{{ user.expiry }}" {% else %} value="{{ default_date.strftime('%Y-%m-%d') }}" {% endif %} required>
<label for="is_active" style="margin-bottom:5px;">Is Active</label>
<input type="checkbox" id="is_active" name="is_active" {% if editing and user.is_active %}checked{% else %}unchecked{% endif %}><br>
<button class="blue" type="submit">{% if editing %} Update {% else %} Submit {% endif %}</button>
