<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Edit Recording Platform</title>
</head>
<body>
    <div class="outer-div">
    <h1>Edit Recording Platform</h1>
    <form id="recording-platform-update-form" action="{{ url_for('admin.admin_recording_platform_edit', recording_platform_id=recording_platform.id) }}" method="post">
        {% set editing = True %}
        {% include 'admin/admin-recording-platform-template.html' %}
    </form>
    <script>
        ajaxifyForm(document.getElementById('recording-platform-update-form'), true, true, null, null);
    </script>
    </div>
</body>
</html>