<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Edit Data Source</title>
    <link rel="stylesheet" href="../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../static/css/general-style.css">
</head>
<body>
    <div class="outer-div">
        <h1>Edit Data Source</h1>
        <form action="{{ url_for('admin.admin_data_source_edit', data_source_id=data_source.id) }}" method="post">
            {% set editing = True %}
            {% include 'admin/admin-data-source-template.html' %}
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>

</html>