<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Administration Portal</title>
    <link rel="stylesheet" href="../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../static/css/general-style.css">
</head>
<body>
    <div class="outer-div">
        <h1>User management</h1>
        <a href="{{ url_for('admin.admin_user') }}"><button>Users</button></a>
        <h1>Administration Portal</h1>
        <a href="#data-sources">Data Sources</a> | <a href="#recording-platforms">Recording Platforms</a> | <a
            href="#species">Species</a>
        <section id="data-sources">
            <h2>Data Sources</h2>
            <a href="{{ url_for('admin.admin_data_source_new') }}" class="add-new-button"
                style="width:300px"><button>Add new data source</button></a><br>
            <div style="margin-top: 10px; margin-bottom: 5px;">
                <label for="sort-select">Filter (any column):</label>
            </div>
            <input style="margin-bottom: 10px; width:195px;" type="text" id="filter-data-source"
                placeholder="No filter">
            {% if data_source_list %}
            <table id="data-source-table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                {% for data_source in data_source_list %}
                <tr>
                    <td>{{ data_source.name }}</td>
                    <td>{{ data_source.email1 }}</td>
                    <td>
                        <a href="{{ url_for('admin.admin_data_source_view', data_source_id=data_source.id) }}">View</a>
                        <a
                            href="{{ url_for('admin.admin_data_source_delete', data_source_id=data_source.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No data sources found. Please add new data sources using the button above.</p>
            {% endif %}
        </section>
        <section id="recording-platforms">
            <h2>Recording Platforms</h2>
            <a href="{{ url_for('admin.admin_recording_platform_new') }}" class="add-new-button"
                style="width:300px"><button>Add new recording platform</button></a><br>
            <div style="margin-top: 10px; margin-bottom: 5px;">
                <label for="sort-select">Filter (any column):</label>
            </div>
            <input style="margin-bottom: 10px; width:195px;" type="text" id="filter-recording-platform"
                placeholder="No filter">
            {% if recording_platform_list %}
            <table id="recording-platform-table">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                {% for recording_platform in recording_platform_list %}
                <tr>
                    <td>{{ recording_platform.name }}</td>
                    <td>
                        <a
                            href="{{ url_for('admin.admin_recording_platform_view', recording_platform_id=recording_platform.id) }}">View</a>
                        <a
                            href="{{ url_for('admin.admin_recording_platform_delete', recording_platform_id=recording_platform.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No recording platforms found. Please add new recording platforms using the button above.</p>
            {% endif %}
        </section>
        <section id="species">
            <h2>Species</h1>
                <a href="{{ url_for('admin.admin_species_new') }}" class="add-new-button"
                    style="width:300px"><button>Add New
                        Species</button></a>
                {% if species_list %}
                <div style="margin-top: 10px;">
                    <label for="sort-select">Filter (any column):</label>
                </div>
                <input style="margin-bottom: 10px; width:195px;" type="text" id="filter-species"
                    placeholder="No filter">
                <table id="species-table">
                    <thead>
                        <tr>
                            <th>Scientific name</th>
                            <th>Genus</th>
                            <th>Common Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for species in species_list %}
                        <tr>
                            <td>{{ species.get_species_name() }}</td>
                            <td>{{ species.get_genus_name() }}</td>
                            <td>{{ species.get_common_name() }}</td>
                            <td>
                                <form id="editForm" style="margin-bottom:5px;" method="get"
                                    action="{{ url_for('admin.admin_species_view', species_id=species.id) }}">
                                    <input type="hidden" name="_method" value="GET">
                                    <button type="submit" style="width:100%"
                                        data-species-id="{{ species.id }}">Edit</button>
                                </form>
                                <form id="deleteForm_{{ species.id }}" method="post"
                                    action="{{ url_for('admin.admin_species_delete', species_id=species.id) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" style="width:100%" class="delete-link"
                                        data-species-id="{{ species.id }}">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="no-species-message" , style="margin-top:15px;">
                    No species found. Please add new species using the button above.
                </div>
                {% endif %}
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</script>
<script>
    // function to filter the data source table
    $(document).ready(function () {
        $('#filter-data-source').on('input', function () {
            var filterValue = $(this).val().toLowerCase();
            $('#data-source-table tbody tr').filter(function () {
                if (!$(this).find('th').length) {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
                }
            });
        });

        // function to filter the recording platform table
        $('#filter-recording-platform').on('input', function () {
            var filterValue = $(this).val().toLowerCase();
            $('#recording-platform-table tbody tr').filter(function () {
                if (!$(this).find('th').length) {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
                }
            });
        });

        // function to filter the species table
        $('#filter-species').on('input', function () {
            var filterValue = $(this).val().toLowerCase();
            $('#species-table tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1)
            });
        });
    });
</script>
</html>