<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Edit Recording Platform</title>
    <link rel="stylesheet" href="../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../static/css/general-style.css">
</head>
<body>
    <div class="outer-div">
    <h1>Edit Recording Platform</h1>
    <form action="{{ url_for('admin.admin_recording_platform_edit', recording_platform_id=recording_platform.id) }}" method="post">
        {% set editing = True %}
        {% include 'admin/admin-recording-platform-template.html' %}
    </form>
    </div>
</body>
</html>