<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Edit Species</title>
    <link rel="stylesheet" href="../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../static/css/general-style.css">
</head>
<body>

    <div class="outer-div">
        <h1>Temporary User</h1>
        <form action="{{ url_for('admin.admin_temporary_user_update', user_id=user.id) }}" method="post">
            {% set editing = True %}
            {% set temporary_user = True %}
            {% include 'admin/admin-user-template.html' %}
            <button type="submit">Save Changes</button>
        </form>
    </div>


</body>