<!DOCTYPE html>
<html>
{% include 'header.html' %}

<head>
    <title>Administration Portal</title>
    <link rel="stylesheet" href="../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../static/css/general-style.css">
</head>
<style>
.large-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

</style>

<body>
    <div class="outer-div">
        <h1>Administration Portal</h1>
        <a href="#data-sources" >Data Sources</a> | <a href="#recording-platforms" >Recording Platforms</a>

        <section id="data-sources">
            <h2>Data Sources</h2>
            <a href="{{ url_for('admin.admin_data_source_new') }}" class="add-new-button" style="width:300px"><button>Add new data source</button></a><br>
            <div style="margin-top: 10px; margin-bottom: 5px;">
                <label for="sort-select">Filter (any column):</label>
            </div>
            <input style="margin-bottom: 10px; width:195px;" type="text" id="filter-data-source"
                placeholder="No filter">
            {% if data_source_list %}
            <table id="data-source-table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                {% for data_source in data_source_list %}
                <tr>
                    <td>{{ data_source.name }}</td>
                    <td>{{ data_source.email1 }}</td>
                    <td>
                        <a href="{{ url_for('admin.admin_data_source_view', data_source_id=data_source.id) }}">View</a>
                        <a href="{{ url_for('admin.admin_data_source_delete', data_source_id=data_source.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No data sources found. Please add new data sources using the button above.</p>
            {% endif %}
        </section>

        <section id="recording-platforms">
            <h2>Recording Platforms</h2>
            <a href="{{ url_for('new_recording_platform') }}" class="add-new-button" style="width:300px"><button>Add new recording platform</button></a><br>
            <div style="margin-top: 10px; margin-bottom: 5px;">
                <label for="sort-select">Filter (any column):</label>
            </div>
            <input style="margin-bottom: 10px; width:195px;" type="text" id="filter-recording-platform"
                placeholder="No filter">
            {% if recording_platform_list %}
            <table id="recording-platform-table">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                {% for recording_platform in recording_platform_list %}
                <tr>
                    <td>{{ recording_platform.name }}</td>
                    <td>
                        <a href="/recording_platform/{{ recording_platform.id }}/edit">View</a>
                        <a href="/recording_platform/{{ recording_platform.id }}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No recording platforms found. Please add new recording platforms using the button above.</p>
            {% endif %}
        </section>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</script>
<script>
$(document).ready(function () {
    $('#filter-data-source').on('input', function () {
        var filterValue = $(this).val().toLowerCase();
        $('#data-source-table tbody tr').filter(function () {
            if (!$(this).find('th').length) {
                $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
            }
        });
    });

    $('#filter-recording-platform').on('input', function () {
        var filterValue = $(this).val().toLowerCase();
        $('#recording-platform-table tbody tr').filter(function () {
            if (!$(this).find('th').length) {
                $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
            }
        });
    });
});
</script>

</html>