<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}

<head>
    <title>Error 404</title>
</head>

<body>
    <div class="outer-div">

        <main>
            <section>
                <h2>Oops! A piece of data is missing.</h2>
                {% if error %}
                <div class="extra-info">
                    <p>{{ error }}</p>
                </div>
                {% endif %}
                {% if session['snapshot_date'] %}
                <div class="extra-info">
                    <label>This page may not exist in the archival view {{session['snapshot_date']}}</label>
                    <form action="{{ url_for('general.reset_snapshot_in_session_with_link') }}" method="post">
                        <input type="hidden" name="redirect_link" value="{{ goback_link }}">
                        <button class="gray" type="submit">Exit archival view</button>
                    </form>
                </div>
                {% else %}


                <p>{{session['snapshot_date']}}</p>
                <a href="{{goback_link}}">{{goback_message}}</a>
                {% endif %}

            </section>
        </main>
    </div>

</body>

</html>