<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html>
    {% include 'partials/header.html' %}
    
    <head>
        <title>Error</title>
    </head>
<body>
    <div class="outer-div">

    <main>
        <section>
            <h2>An error ocurred that cannot be fixed automatically</h2>
            <div class="extra-info">
                <label>Your administrator can access a detailed diagnostic of this error. Please contact them with the information below:</label>
                <p>Timestamp (UTC): {{current_timestamp_utc}}</p>
                <p>Error: {{error_message}}</p>
                <a href="{{goback_link}}">{{goback_message}}</a>

            </div>
        </section>
    </main>
    </div>

</body>
</html>