{% macro recording_form(editing, file_timezone, local_timezone, recording) %}

<label for="start_time" class="bold">Start Time</label>
<input type="datetime-local" class="date-input small" id="start-time" name="start_time" step="1" required
    onchange="calculateTimeOffsets('start-time','gmt-offset-label','local-offset-label','file-time-label','{{ file_timezone }}','{{ local_timezone }}')"
    {% if editing %}value="{{ recording.start_time_pretty }}" {% endif %}>
<div id="time-offsets">
    <label style="display: none;" id="file-time-label"></label>
    <label style="display: none;" id="gmt-offset-label"></label>
    <label style="display: none;" id="local-offset-label"></label>
</div>

<label for="recording-file-input" class="bold">Recording File</label>
{% if editing and recording.recording_file %}
<!-- <p>Hash match: {{recording.recording_file.verify_hash()}}</p> -->
<div style="display: flex;">
    <a style="margin-right: 0.25rem" class="button small"
        href="{{ url_for('recording.download_recording_file', recording_id=recording.id) }}">Download</a>
    <a style="margin-left: 0.25rem" class="button small"
        href="{{ url_for('general.get_file_details', file_id=recording.recording_file.id) }}?file_details=Recording File for {{recording.unique_name}}">File
        Details</a>

</div>
{% else %}
<input class="file-input small" type="file" id="recording-file-input" name="recording-file-input" onchange="extractDate(this.value);" accept=".wav">
<div >
    <span style="display: none; padding-right: 0.5rem;" id="recording-insert-progress-text">0%</span>
    <progress style="display: none;" id="recording-insert-progress-bar" value="0" max="100"></progress>
</div>
<input type="hidden" id="recording-file-id-store" name="upload_recording_file_id" value="">
<input type="hidden" id="recording-file-name-store" name="upload_recording_file_name" value="">

<button id="recording-form-submit-button" class="blue" type="submit" title="Update encounter with changed data.">Update</button>


<script src="{{ url_for('general.serve_script', filename='html-utils.js') }}"></script>

{% endif %}

<script src="{{ url_for('general.serve_script', filename='time-management.js') }}"></script>

<script>


    /**
     * Extracts the date from a given file name and updates the start-time and seconds fields in the document.
     * The date is extracted using an HTTP request to a server-side method which determines the regex code.
     * 
     * @param {string} fileName - The name of the file to extract the date from.
     */
    function extractDate(fileName) {
        makeAjaxRequest(
            "{{ url_for('recording.extract_date') }}",
            "POST",
            {'filename': fileName},
            undefined,
            true,
            true,
            successCallback = (response) => {
                date_string = response.data.date;
                if (date_string != null) {
                    var date = new Date(date_string);
                    // cut out milliseconds
                    var formattedDate = date.toISOString().slice(0, 19);
                    if ('{{editing}}' == 'False') {
                        document.getElementById('start-time').value = formattedDate;
                    }
                    calculateTimeOffsets('start-time', 'gmt-offset-label', 'local-offset-label', 'file-time-label', '{{ file_timezone }}', '{{ local_timezone }}')
                }
            }
        )

    }

    $(document).ready(function () {
        if ('{{editing}}' == 'True') {
            calculateTimeOffsets('start-time', 'gmt-offset-label', 'local-offset-label', 'file-time-label', '{{ file_timezone }}', '{{ local_timezone }}')
        }
        fileUploadHandler(document.getElementById('recording-file-input'),document.getElementById('recording-insert-progress-bar'), document.getElementById('recording-file-id-store'), document.getElementById('recording-file-name-store'), document.getElementById('recording-form-submit-button'));

    });

</script>


{% endmacro %}