<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<body>
<div class="outer-div">
    <h2>File Details for {{ file_details }} </h2>
    <a href="{{redirect_link}}">Go Back</a>
    <p>Path: {{ file.path }}</p>
    <p>Filename: {{ file.filename }}</p>
    <p>Uploaded date: {{ file.get_uploaded_date_utc() }}</p>
    <p>Extension: {{ file.extension }}</p>
    <p>Original filename: {{ file.original_filename }}</p>
    <p>Hash (SHA-256): {{ file.get_hash() }}</p>
    <p>Hash matching: {{ file.verify_hash() }}</p>
  </div>
</body>