<!DOCTYPE html>
<html>
  <style>
    .banner-image {
      width:100%;
    }
    @media only screen and (max-width: 980px) {
    .banner-image {
        width: 150%;
        }
    }
  </style>
<head>

</head>
{% include 'partials/header.html' %}
<section class="hero-section">
  <div class="hero-section__image-mask">
    <picture class="hero-section__image">
      <source srcset="resources/dolphin-image.jpg" media="(min-width: 640px)">
      <img class="banner-image"  src="resources/dolphin-image.jpg" alt="">

    </picture>
  </div>
  <div class="container">
    <div class="hero-section__content">
      <h1 class="hero-section__heading ">Welcome to OCEAN</h1>
    </div>
  </div>
</section>
<body>
  <div class="outer-div">
    
    {% if recordings %}
    <h1>Current Assignments</h1>
    <div class="table-responsive">
    <table class="table-striped">
        <tr>
          <th>Assigned On</th>
          <th>Species</th>
          <th>Encounter</th>
          <th>Recording</th>
          <th>Status</th>
      </tr>   
      
      {% for recording_and_assignment in recordings %}

      <tr>
        <td>{{ recording_and_assignment['assignment'].created_datetime }}</td>
        <td>{{ recording_and_assignment['recording'].encounter.species.scientific_name }}</td>
        <td><a href="{{ url_for('encounter.encounter_view', encounter_id=recording_and_assignment['recording'].encounter.id) }}">{{ recording_and_assignment['recording'].encounter.encounter_name }}</a></td>
        <td><a href="{{ url_for('recording.recording_view', recording_id=recording_and_assignment['recording'].id, encounter_id= recording_and_assignment['recording'].encounter.id) }}">{{ recording_and_assignment['recording'].start_time_pretty }}</a></td>
        <td>{% if recording_and_assignment['recording'].is_on_hold() %} ACTION REQUIRED {% else %} {{ recording_and_assignment['recording'].status}} {% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

    {% else %}
    <h1>Home</h1>
    <p>You have no assigned recordings. Please contact your administrator and come back later.</p>
    {% endif %}
</div>

</body>
</html>