<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Administration Portal</title>
    <link rel="stylesheet" href="../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../static/css/general-style.css">
</head>
{% block content %}
  <div class="outer-div">
      <h3 class="title">Login</h3>
      <div class="box">
          <form method="POST" action="{{ url_for('auth.login_post') }}">
              <div class="field">
                  <div class="control">
                      <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                  </div>
              </div>
  
              <div class="field">
                  <div class="control">
                      <input class="input is-large" type="password" name="password" placeholder="Your Password">
                  </div>
              </div>
              <div class="field">
                  <label class="checkbox">
                      <input type="checkbox" name="remember">
                      Remember me
                  </label>
              </div>
              <button class="button is-block is-info is-large is-fullwidth">Login</button>
          </form>
      </div>
  </div>
  {% endblock %}