<!DOCTYPE html>
<html lang="en">

<script src="{{ url_for('general.serve_script', filename='html-utils.js') }}"></script>

<script>
function deleteOrphanedFile(link, tableRow, button) {
    button.disabled = true;
        makeAjaxRequest(
            link,
            'DELETE',
            undefined,
            undefined,
            true,
            true,
            successCallback = () => {
                tableRow.remove();
            },
            errorCallback = () => {
                button.disabled = false;
            },
            redirectNewTab=true
        );
}
function loadOrphanedFiles(deleted, tableId) {
    var url = "{{ url_for('filespace.get_orphaned_files') }}";
    makeAjaxRequest(
        url,
        "GET",
        {deleted:deleted},
        undefined,
        true,
        true,
        successCallback = (response) => {
            var tableBody = $('#' + tableId + ' tbody');
            $.each(response.data.orphanedFiles, function(index, result) {
                var row = $('<tr>');
                row.append($('<td>').html('<button class="gray small" onclick="deleteOrphanedFile(\'' + result.link + '\', this.closest(\'tr\'), this)">Delete</button>'))
                row.append($('<td>').append($('<a>', {class: 'button', href: result.download}).text('Download')));
                row.append($('<td>').text(result.path));
                tableBody.append(row);
            });
        }
    )
}


</script>

{% macro orphaned_file_template(deleted, unique_id) %}

<div class="table-responsive">
<table id="orphaned-files-table-{{unique_id}}" class="table-striped">
    <tr>
        <th>Resolve</th>
        <th>Download</th>
        <th>Path</th>
    </tr>
</table>
</div>
<script>
    $(document).ready(function() {
        var deleted = "{{deleted}}";
        loadOrphanedFiles(deleted, "orphaned-files-table-{{unique_id}}");
    });
</script>
{% endmacro %}


<script>
    function deleteBrokenLink(link, tableRow, button) {
        button.disabled = true;
        makeAjaxRequest(
            link,
            'DELETE',
            undefined,
            undefined,
            true,
            true,
            successCallback = () => {
                tableRow.remove();
                loadBrokenLinks(deleted, tableId);
            },
            errorCallback = () => {
                button.disabled = false;
            },
            redirectNewTab=true
        );
    }

      function loadBrokenLinks(deleted, tableId) {
        var url = "{{ url_for('filespace.get_broken_links') }}";
        makeAjaxRequest(
          url,
          'GET',
          {deleted: deleted},
          undefined,
          true,
          true,
          successCallback = (response) => {
            var tableBody = $('#' + tableId + ' tbody');
            $.each(response.data.brokenLinks, function(index, link) {
              var row = $('<tr>');
              if (link.parent) {
                row.append("<a class='button' href='" + link.link + "'>View Parent</a>");
                row.append($('<td>').html('Resolve by deleting the file reference in the parent (' + link.parent.uniqueName + ').'));
              } else if (link.delete) {
                row.append($('<td>').html('<button class="gray small" onclick="deleteBrokenLink(\'' + link.delete + '\', this.closest(\'tr\'), this)">Resolve</button>'))
                row.append($('<td>').html('Resolve by deleting the file reference directly.'));
              } else {
                row.append($('<td>').text('This issue is not resolvable. Please contact the developer.'));
              }
              row.append($('<td>').text(link.file.absolutePath));
              tableBody.append(row);
            });
          }
        );
      }
  </script>
{% macro invalid_link_template(deleted, unique_id) %}
  <div class="table-responsive">
    <table class="table-striped" id="invalid-links-table-{{unique_id}}">
      <tr>
        <th>Resolve</th>
        <th>Action</th>
        <th>Path</th>
      </tr>
    </table>
  </div>
  <script>
    $(document).ready(function() {
      var deleted = "{{deleted}}";
      loadBrokenLinks(deleted, "invalid-links-table-{{unique_id}}");
    });
  </script>
{% endmacro %}

{% include 'partials/header.html' %}

<head>
    <title>Filespace</title>
</head>

<body>
    <div class="outer-div">
        <h1>Filespace</h1>

        <h2>Storage</h2>
        <p>System: {{storage}}</p>
        <p>Filespace: {{file_space_size}}</p>
        <p><a href="{{ url_for('filespace.trash_view') }}">Manage trash ({{trash_dir_size}})</a></p>

        <h2>Invalid Links</h2>
        <p>Invalid links from existing file objects. This usually means a file has been wrongly moved or deleted from the filespace without using the software to do so.</p>
        {{ invalid_link_template(False, 'table1') }}

        <h2>Invalid Deleted Links</h2>
        <p>Invalid links from softly deleted file objects. This usually means the trash directory has been emptied and that softly deleted files are no longer accessible. Use this software to delete those file objects.</p>
        {{ invalid_link_template(True, 'table2') }}


        <h2>Orphaned Files</h2>
        <p>Orphaned files. These files are not referenced by any other file object.</p>
        {{ orphaned_file_template(False, "table3") }}

        <h2>Orphaned Deleted Files</h2>
        <p>Orphaned deleted files. These files are not referenced by any other file object.</p>
        {{ orphaned_file_template(True, "table4") }}
    </div>

</body>