<!DOCTYPE html>
<html lang="en">

{% include 'partials/header.html' %}

<head>
    <title>Filespace</title>
</head>
    <body>
        <div class="outer-div">
            <a class="link" href="{{ url_for('filespace.filespace_view') }}">Back to filespace</a>
            <h1>Trash Files</h1>
            <p>Size of trash directory: {{trash_dir_size}}</p>
            {% if trash_files %}
            <button class="gray" style="width:50%; margin-top:0.5rem; margin-bottom: 1rem" id="delete-selected-files">Delete Selected Files</button>

            <form id="delete-files-form" method="post" action="{{ url_for('filespace.trash_delete_files') }}">
                <input type="hidden" id="file-ids" name="file_ids[]">
            </form>
            <table>
                <tr>
                    <th><input type="checkbox" name="selections-checkboxes" class="select-all"></th>
                    <th>File Name</th>
                    <th>Download</th>
                    <th>Delete</th>
                </tr>
                {% for file in trash_files %}
                    <tr>
                        <td>
                            <input type="checkbox" name="selections-checkboxes" value="{{ file.id }}">
                        </td>
                        <td><label>{{ file.filename }}</label></td>
                        <td><a href="{{url_for('filespace.trash_send_file', file_id=file.id)}}">Download</a></td>
                        <td><a href="{{url_for('filespace.trash_delete_file', file_id=file.id)}}">Delete</a></td>
                    </tr>
                    {% endfor %}
            </table>
            {% endif %}

        <script src="{{ url_for('general.serve_script', filename='html-utils.js') }}"></script>
        <script>
            addShiftClickFunctionality(document.querySelectorAll('input[name="selections-checkboxes"]'));
            addCheckboxFormSubmission(document.querySelectorAll('input[name="selections-checkboxes"]'), document.getElementById('delete-selected-files'), document.getElementById('file-ids'), document.getElementById('delete-files-form'));
        </script>

        </div>
    </body>
</html>