<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Encounters</title>
    <link rel="stylesheet" href="../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../static/css/general-style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="outer-div">
        <h1>Encounters</h2>
        <a href="{{ url_for('encounter.encounter_new') }}" style="width:300px; margin-bottom: 10px"><button>Add New Encounter</button></a><br>
        {% if encounter_list %}
        <div style="margin-top: 10px; margin-bottom: 5px;">
            <label for="sort-select">Filter (any column):</label>
        </div>
        <input style="margin-bottom: 10px; width:195px;" type="text" id="filter-input" placeholder="No filter">
        <table style="margin-top: 10px" id="encounter-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Species</th>
                    <th>Cruise</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for encounter in encounter_list %}
                    <tr>
                        <td>{{ encounter.get_encounter_name() }}</td>
                        <td>{{ encounter.get_location() }}</td>
                        <td>{{ encounter.species.get_species_name() }}</td>
                        <td>{{ encounter.get_cruise() }}</td>
                        <td>
                            <button type="submit" style="width:100%" data-encounter-id="{{ encounter.id }}" onclick="window.location.href='{{ url_for('encounter.encounter_view', encounter_id=encounter.id) }}'">View</button>

                            {% if current_user.role_id in [1, 2] %}
                            <button type="submit" style="width:100%" data-encounter-id="{{ encounter.id }}" onclick="window.location.href='{{ url_for('encounter.encounter_edit', encounter_id=encounter.id) }}'">Edit</button>
                            <form id="deleteForm_{{ encounter.id }}" method="post" action="{{ url_for('encounter.encounter_delete', encounter_id=encounter.id) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" style="width:100%" class="delete-link" data-encounter-id="{{ encounter.id }}">Delete</button>
                            </form>
                            {% endif %}
                        
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="no-species-message" style="margin-top:15px;">
                No encounters found. Please add new encounters using the button above.
            </div>
        {% endif %}
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Add click event listener to the delete button
        $('.delete-link').on('click', function(e) {
            console.log("i got here")
            e.preventDefault();
            var encounterId = $(this).data('encounter-id');
            var confirmed = confirm("Are you sure you want to delete this encounter?");
            // Continue with the delete if the user confirms
            if (confirmed) {
                var formId = 'deleteForm_' + encounterId;
                var form = document.getElementById(formId);
                form.querySelector('input[name="_method"]').value = "DELETE";
                form.submit();
            }
            $('#filter-input').on('input', function() {
                var filterValue = $(this).val().toLowerCase();
                $('#encounter-table tbody tr').each(function() {
                    var name = $(this).find('td:nth-child(1)').text().toLowerCase();
                    var location = $(this).find('td:nth-child(2)').text().toLowerCase();
                    var species = $(this).find('td:nth-child(3)').text().toLowerCase();
                    var cruise = $(this).find('td:nth-child(4)').text().toLowerCase();
                    if (!(name.includes(filterValue) || location.includes(filterValue) || species.includes(filterValue) || cruise.includes(filterValue))) {
                    $(this).hide();
                    } else {
                    $(this).show();
                    }
                });
            });
        });
});
</script>

</body>
</html>