<!--
This page allows the user to view an encounter
Variables required:
- encounter: the Encounter object being viewed
- g.user: the current logged in User object
- assigned_recordings: an array of Recording objects
- unassigned_recordings: an array of Recording objects
-->

<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}

<head>
  <title>Edit Encounter: {{ encounter.get_unique_name(' - ') }}</title>
</head>

<body>
  <div class="outer-div">
    <h1>Encounter: {{ encounter.get_unique_name(' - ') }}</h1>

    <!-- Encounter Summary -->
    <section id="encounter-summary">
      <div id="summary">
        <h2>Encounter Summary</h2>
        <p>Encounter: {{ encounter.encounter_name }}</p>
        <p>Location: {{ encounter.location }}</p>
        <p>Project: {% if encounter.project %}{{ encounter.project }} {% else %}Not entered{% endif %}</p>
        <p>Species: {{ encounter.species.species_name }} ({{ encounter.species.common_name }})</p>
        <p>Recording platform: {% if encounter.recording_platform %}{{ encounter.recording_platform.name}} {% else %}Not
          entered{% endif %}</p>
        <p>Data source: {% if encounter.data_source %}{{ encounter.data_source.name}} {% else %}Not entered{% endif %}
        </p>
        <p>Recording counter: {{ encounter.get_number_of_recordings() }}</p>
      </div>
    </section>
    <hr>

    {% if g.user.role_id in [1, 2] %}
    <section id="administration">
      <h2>Administration</h2>
      {% if not session['snapshot_date'] %}
      <a title="Edit the encounter" class="button"
        href="{{ url_for('encounter.encounter_edit', encounter_id=encounter.id) }}">Edit Encounter: {{
        encounter.get_unique_name(' - ') }}</a>
      {% endif %}

      <div class="audit-history">
        <h3>Audit History</h3>
        <div class="table-responsive">
          <table class="table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Action</th>
                <th>User</th>
                <th>View Snapshot</th>
              </tr>
            </thead>
            <tbody>
              {% for encounter in encounter_history %}
              <tr>
                <td>{{ encounter['row_start'] }}</td>
                <td>{{ encounter['action'] }}</td>
                <td>{{ encounter['updated_by'].name }}</td>
                <td><a
                    href="{{ url_for('general.enter_snapshot_date_in_session', snapshot_date=encounter['row_start'], redirect_link=url_for('encounter.encounter_view', encounter_id=encounter['id']))}}">HERE</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% if not session['snapshot_date'] %}
      <h3>Add Recording</h3>
      <form action="{{ url_for('recording.recording_insert', encounter_id=encounter.id)}}" method="post"
        enctype="multipart/form-data" id="recording-insert-form">
        {% from 'recording/recording-form-template.html' import recording_form %}
        {{ recording_form(editing=False, file_timezone=encounter.file_timezone, local_timezone=encounter.local_timezone,
        recording=None) }}
        <input type="hidden" id="recording-file-id-store" name="recording_file_id" value="">
        <input type="hidden" id="encounter_id" name="encounter_id" value="{{ encounter.id }}">
        <input type="hidden" id="assign_user_id" name="assign_user_id" value="">

        <button type="submit" class="blue" style="margin-top: 1rem;" id="recording-insert-form-submit">Submit</button>
      </form>
      {% endif %}
    </section>
    {% endif %}

    <script src="{{ url_for('general.serve_script', filename='html-utils.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          fileUploadHandler(document.getElementById('recording-file-input'),document.getElementById('recording-insert-progress-bar'), document.getElementById('recording-file-id-store'), document.getElementById('recording-insert-form-submit'));
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            uploadFormWithProgress('recording-insert-form', 'recording-insert-progress-bar', 'recording-insert-progress-text');
        });
    </script>

    <section id="recordings">
      <h2>Recordings</h2>
      {% if assigned_recordings|length > 0 or unassigned_recordings|length > 0 %}
      {% if assigned_recordings|length > 0 %}
      <h3>Assigned Recordings</h3>
      {% from '/encounter/recording-table-row-template.html' import recording_table_row %}
      {{ recording_table_row(assigned_recordings) }}
      {% else %}
      <h3>You do not have any Assigned Recordings in this Encounter</h3>
      {% endif %}

      {% if unassigned_recordings|length > 0 %}
      <h3>Unassigned Recordings</h3>
      {% from '/encounter/recording-table-row-template.html' import recording_table_row %}
      {{ recording_table_row(unassigned_recordings) }}
      {% endif %}
      {% else %}
      <p>This encounter has no recordings. Please use the form above to add recordings.</p>
      {% endif %}
    </section>
    {% if g.user.role_id in [1, 2] %}

    {% if not session['snapshot_date'] %}
    <section id="delete-encounter"></section>
    <form type="hidden" id="deleteForm_{{ encounter.id }}" method="post"
      action="{{ url_for('encounter.encounter_delete', encounter_id=encounter.id) }}">
      <input type="hidden" name="_method" value="DELETE">
      <button class="gray small" id="delete-encounter-button"
        title="Delete the entire encounter. All recordings in the encounter must be deleted before proceeding."
        type="button" style="margin-top: 1rem;" class="delete-button" data-encounter-id="{{ encounter.id }}"
        delete-info="{{encounter.get_unique_name('-')}}">Delete Encounter</button>
    </form>
    </section>
    {% endif %}
    {% endif %}
  </div>



  <script>
    // Add an event listener to the delete button to confirm deletion
    $("#delete-encounter-button").on("click", function (event) {
      // Get the encounter ID from the button's data attribute
      var encounterId = $(this).data("encounter-id");
      var deleteInfo = $(this).attr('delete-info');

      // Confirm deletion with the user
      if (confirm("Are you sure you want to delete encounter: " + deleteInfo + "?\nBefore this action is completed, all recordings must be deleted individually.")) {
        // If confirmed, submit the delete form
        $("#deleteForm_" + encounterId).submit();
      } else {
        // If not confirmed, prevent the default form submission
        event.preventDefault();
      }
    });
  </script>
</body>

</html>