<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>
    <title>Add New Encounter</title>
    <link rel="stylesheet" href="../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../static/css/general-style.css">
</head>
<body>
    <div class="outer-div">
        <h2>Add New Encounter</h2>
        {% set editing = False %}
        <form method="post" action="{{ url_for('encounter.encounter_insert') }}">
        {% include 'encounter/encounter-form-template.html' %}
        </form>
    </div>
</body>
</html>