<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}

<head>
    <title>Edit Encounter</title>
    <link rel="stylesheet" href="../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../static/css/general-style.css">
</head>
<style>
    .container {
        display: flex;
    }

    .summary {
        flex: 1;
    }

    .map {
        flex: 1;
        height: 250px;
        /* Set the height of the map container */
        width: 100%;
        /* Set the width of the map container */
    }

    html,
    body
    {
    height: 100%;
    margin: 0;
    padding: 0;
    }
</style>

<body>


    <div class="outer-div">
        <h1>Encounter</h1>
        <a href="#encounter-summary">Encounter Summary</a> | <a href="#add-recording">Add Recording</a> | <a
            href="#recordings">Recordings</a>


        <section id="encounter-summary">
            <div class="summary" id="summary">
                <h2>Encounter Summary</h2>
                <form style="margin-bottom:5px;" method="get"
                    action="{{ url_for('encounter.encounter_edit', encounter_id=encounter.id) }}">
                    <input type="hidden" name="_method" value="GET">
                    <button type="submit" data-encounter-id="{{ encounter.id }}">Edit</button>
                </form>
                <p>Encounter: {{ encounter.encounter_name }}</p>
                <p>Location: {{ encounter.location }}</p>
                <p>Species: {{ encounter.species.species_name }} ({{ encounter.species.common_name }})</p>

                <h3>Other details</h3>
                <p>Recording counter: {{ encounter.get_number_of_recordings() }}</p>
                <p>Cruise: {% if encounter.origin %}{{ encounter.origin }} {% else %}Not entered{% endif %}</p>
                <p>Recording platform: {% if encounter.recording_platform %}{{ encounter.recording_platform.name}} {%
                    else %}Not entered{% endif %}</p>
                <p>Data source: {% if encounter.data_source %}{{ encounter.data_source.name}} {% else %}Not entered{%
                    endif %}</p>

            </div>
            <h4 id="encounter-coordinate-message">Interactive map view of the encounter coordinates</h4>

            <div id="outer-map" hidden>
                <div class="map" id="map" hidden></div>
            </div><br>

        </section>
        <section id="add-recording">
            <h2>Add Recording</h2>
            <form action="/encounter/view/{{encounter.id}}/add_recording" method="post" enctype="multipart/form-data">
                <label for="time_start">Start Time:</label>
                <input type="datetime-local" id="time_start" name="time_start" required>
                <input type="number" id="seconds" name="seconds" min="0" max="59" placeholder="seconds" required><br>

                <label for="recording_file">Recording File:</label>
                <input style="width:100%;" type="file" id="recording_file" name="recording_file" accept=".wav"><br>

                <label for="selection_file">Selection File:</label>
                <input style="width:100%;" type="file" id="selection_file" name="selection_file" accept=".csv"><br>

                <input type="hidden" id="encounter_id" name="encounter_id" value="{{ encounter.id }}">

                <button type="submit">Submit</button>
            </form><br>
        </section>
        <section id="recordings">
            <h2>Recordings</h2>
            {% if encounter.get_number_of_recordings() > 0 %}
            <a href="{{url_for('download_files_from_folder', path=encounter.generate_relative_path())}}">Download
                All</a>
            <table>
                <tr>
                    <th>Start Time</th>
                    <th>Recording File</th>
                    <th>Selection File</th>
                    <th>Actions</th>
                </tr>
                {% for recording in recordings %}
                <tr>
                    <form action="/encounter/view/{{encounter.id}}/edit_recording/{{recording.id}}" method="post"
                        enctype="multipart/form-data">
                        <td>
                            <label hidden>{{ recording.get_start_time() }}</label><br>
                            <input style="width: 100%" type="datetime-local" id="time_start" name="time_start"
                                value="{{ recording.get_start_time_string() }}" required>
                            <input type="number" id="seconds" name="seconds" min="0" max="59" placeholder="Seconds"
                                value="{{ recording.get_seconds() }}" required><br>
                        </td>
                        {% if recording.recording_file != None %}
                        <td>
                            <a
                                href="{{ url_for('download_file_from_uploads', full_path=recording.recording_file.get_full_relative_path()) }}">Download</a><br>
                            <a
                                href="{{ url_for('delete_recording_file', encounter_id=encounter.id, file_id=recording.recording_file.id) }}">Delete</a>
                        </td>
                        {% else %}
                        <td>
                            <label for="recording_file" class="btn">Add file: </label>
                            <input style="width:100%;" type="file" id="recording_file" name="recording_file"><br>
                        </td>
                        {% endif %}
                        {% if recording.selection_file != None %}
                        <td>
                            <a
                                href="{{ url_for('download_file_from_uploads', full_path=recording.selection_file.get_full_relative_path()) }}">Download</a><br>
                            <a
                                href="{{ url_for('delete_selection_file', encounter_id=encounter.id, file_id=recording.selection_file.id) }}">Delete</a>

                        </td>
                        {% else %}
                        <td>
                            <label for="selection_file" class="btn">Add file: </label>
                            <input style="width: 100%" type="file" id="selection_file" name="selection_file"><br>
                        </td>
                        {% endif %}
                        <td>
                            <button style="width: 100%" type="submit">Update</button>
                            <button style="width:100%" type="button" onclick="window.location.href='{{ url_for('view_recording', recording_id=recording.id) }}'">View Selections</button><br>

                            <button style="width: 100%" type="button" onclick="return confirm('Are you sure you want to delete this recording?') ? window.location.href='{{ url_for("delete_recording", encounter_id=encounter.id, recording_id=recording.id) }}' :false;">Delete</button><br>

                            <a
                                href="{{url_for('download_files_from_folder', path=recording.generate_relative_path())}}">Download
                                All</a><br>


                        </td>
                    </form>
                </tr>
                {% endfor %}
            </table>


            {% else %}
            <p>This encounter has no recordings. Please use the form above to add recordings.</p>
            {% endif %}
        </section>


    </div>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key={{server_side_api_key_variable}}&callback=console.debug&libraries=maps,marker&v=beta&callback=initMap&loading=async"></script>
    <script>

        function extractDate(fileName) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/extract_date?filename=' + encodeURIComponent(fileName), true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                console.log(xhr)
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.date != null) {
                        var date = new Date(response.date);

                        var formattedDate = date.toISOString().slice(0, 16);

                        console.log(date)
                        console.log(formattedDate)
                        document.getElementById('time_start').value = formattedDate;
                        document.getElementById('seconds').value = date.getSeconds();
                    }
                }
            }
            xhr.send();


        }

        document.getElementById('recording_file').addEventListener('change', function () {
            if (this.files.length === 1) {
                extractDate(this.files[0].name);
            }
        });

        function initMap() {
            console.log("INIT MAP");

            try {
                // Initialize the map and handle any errors related to coordinates here
                const latitude = parseFloat('{{encounter.get_latitude()}}');
                const longitude = parseFloat('{{encounter.get_longitude()}}');
                if (isNaN(latitude) || isNaN(longitude)) {
                    throw new Error('Invalid coordinates');
                }

                const mapOptions = {
                    center: { lat: latitude, lng: longitude },
                    zoom: 7,
                    mapId: 'encounter-coordinate-map'
                };

                const map = new google.maps.Map(document.getElementById('map'), mapOptions);

                const marker = new google.maps.marker.AdvancedMarkerElement({
                    position: { lat: latitude, lng: longitude },
                    map: map,
                    title: 'My location'
                });


                document.getElementById('encounter-coordinate-message').innerHTML = 'Encounter coordinates: {{ encounter.get_latitude() }}, {{ encounter.get_longitude() }}';

            } catch (error) {
                if (error.message === 'Invalid coordinates') {
                    document.getElementById('encounter-coordinate-message').innerHTML = 'Invalid coordinates for encounter ({{ encounter.get_latitude() }}, {{ encounter.get_longitude() }}). Cannot show map.';
                } else if (error.message.includes('InvalidKeyMapError')) {
                    // Handle the InvalidKeyMapError here
                    console.log('Invalid Google Maps API Key.');
                    document.getElementById('outer-map').style.display = 'none';
                    document.getElementById('error-message').innerText = 'Invalid Google Maps API Key. Please check the API key configuration.';
                } else {
                    // Handle other errors
                    console.error('An error occurred while initializing the map:', error);
                    document.getElementById('encounter-coordinate-message').innerHTML = 'An error occurred while initializing the map: ' + error;
                    document.getElementById('outer-map').style.display = 'none';
                }
                document.getElementById('outer-map').remove();
            }
        }

    </script>
</body>

</html>