<!DOCTYPE html>
<html>
{% include 'header.html' %}
<link rel="stylesheet" href="../static/css/hero-section.css">
<link rel="stylesheet" href="../static/css/general-style.css">
<body>
    <div class="outer-div">
    <h2>Add New Species</h1>

    <form method="post">
        <label for="classification">Classification:</label>
        <input type="text" id="classification" name="classification" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        

        
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>