<!DOCTYPE html>
<html>
{% include 'header.html' %}

<head>
    <title>Add New Encounter</title>
    <link rel="stylesheet" href="../static/css/hero-section.css">
    <link rel="stylesheet" href="../static/css/general-style.css">
</head>
<body>
    <div class="outer-div">
        <h2>Add New Encounter</h2>

        <form method="post">
            <label for="encounter_name" style="margin-bottom:5px;">Name:</label>
            <input type="text" id="encounter_name" name="encounter_name" required><br><br>
            <label for="location" style="margin-bottom:5px;">Location:</label>
            <input type="text" id="location" name="location"><br><br>
            <label for="origin" style="margin-bottom:5px;">Origin:</label>
            <input type="text" id="origin" name="origin"><br><br>
            <label for="species" style="margin-bottom:5px;">Species:</label>
            <select id="species" name="species" required>
                {% for species in species_list %}
                    {% if species.get_common_name() == '' %}
                    <option value="{{ species.id }}">{{ species.get_species_name()}}</option>
                    {% else %}
                    <option value="{{ species.id }}">{{ species.get_species_name() +" (" + species.get_common_name()+ ")" }}</option>
                    {% endif %}
                {% endfor %}
            </select><br><br>
            <label for="notes" style="margin-bottom:5px;">Notes:</label>
            <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>