<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/hero-section.css">
  <link rel="stylesheet" href="static/css/general-style.css">
</head>
{% include 'partials/header.html' %}
<section class="hero-section">
  <div class="hero-section__image-mask">
    <picture class="hero-section__image">
      <source srcset="resources/dolphin-image.jpg" media="(min-width: 640px)">
      <img src="resources/dolphin-image.jpg" alt="">
    </picture>
  </div>
  <div class="container">
    <div class="hero-section__content">
      <h1 class="hero-section__heading ">Welcome to OCEAN</h1>
    </div>
  </div>
</section>
<body>
  <div class="outer-div">
    <h2>Home</h2>

    {% if user.is_authenticated %}
    <p>Logged in as: {{ user.name }} ({{ user.login_id }})</p>
    {% else %}
    <p>You are not logged in</p>
    {% endif %}

    <h3>Current Assignments</h3>
    <table>
        <tr>
          <th>Assigned On</th>
          <th>Species</th>
          <th>Encounter</th>
          <th>Recording</th>
          <th>Completed</th>
      </tr>   
      {% for recording_and_assignment in recordings %}

      <tr>
        <td>{{ recording_and_assignment['assignment'].created_datetime }}</td>
        <td>{{ recording_and_assignment['recording'].encounter.species.species_name }}</td>
        <td><a href="{{ url_for('encounter.encounter_view', encounter_id=recording_and_assignment['recording'].encounter.id) }}">{{ recording_and_assignment['recording'].encounter.encounter_name }}</a></td>
        <td><a href="{{ url_for('recording.recording_view', recording_id=recording_and_assignment['recording'].id, encounter_id= recording_and_assignment['recording'].encounter.id) }}">{{ recording_and_assignment['recording'].get_start_time_string() }}</a></td>
        <td>{{ recording_and_assignment['assignment'].is_complete() }}</td>
      </tr>
      {% endfor %}
    </table>
  
</div>

</body>
</html>