<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" href="static/css/hero-section.css">
        <link rel="stylesheet" href="static/css/general-style.css">
    </head>
    
{% include 'header.html' %}
<section class="hero-section">
    <div class="hero-section__image-mask">
      <picture class="hero-section__image">
        <source srcset="resources/dolphin-image.jpg" media="(min-width: 640px)">
        <img src="resources/dolphin-image.jpg" alt="">
      </picture>
    </div>
    <div class="container">
      <div class="hero-section__content">
        <h1 class="hero-section__heading ">Welcome to the Dolphin Acoustics VIP Database Manager</h1>
            </div>
    </div>
  </section>
<body>

    <div class="outer-div">
      <h2>Home</h2>
      <td><a href="/">Back</a></td>
    </div>
  
</body>
</html>