<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Operational Error</title>
    <link rel="stylesheet" href="../../../static/css/hero-section.css">
    <link rel="stylesheet" href="../../../static/css/general-style.css">
  </head>

  <body>
    <div class="outer-div">

      <main>
        <section>
          <h2>An operational error occurred.</h2>
          <p>An unexpected error occurred while trying to access the requested resource.</p>
          <p>This likely means that the database server is unavailable due to a critical error or routine maintenance.</p>
          <p>Please contact your administrator for assistance.</p>
          <a href="{{ url_for('home') }}">Return to Home Page</a>
        </section>
      </main>
    </div>

  </body>
</html>