<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Files</title>
</head>
<body>
    <h2>Review File Validity Information</h2>
    <table>
        <tr>
            <th>File Name</th>
            <th>Validity</th>
            <th>Select</th>
        </tr>
        {% for file, validity in file_validity_info.items() %}
        <tr>
            <td>{{ file }}</td>
            <td>{{ validity }}</td>
            <td>
                <input type="checkbox" name="selected_files" value="{{ file }}">
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('review_files', recording_id=recording_id) }}" method="post">
        <input type="submit" value="Upload Selected Files">
    </form>
</body>
</html>