<!-- species.html -->
<!DOCTYPE html>
{% include 'header.html' %}

<html lang="en">

<head>
    <link rel="stylesheet" href="static/css/hero-section.css">
    <link rel="stylesheet" href="static/css/general-style.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species List</title>
</head>

<body>
    <div class="outer-div">
        <h2>Species</h1>
            <a href="{{ url_for('add_species') }}" class="add-new-button" style="width:300px"><button>Add New
                    Species</button></a>
                {% if species_list %}
                <div style="margin-top: 10px;">
                    <label for="sort-select">Filter (any column):</label>
                </div>
                <input style="margin-bottom: 10px; width:195px;" type="text" id="filter-input" placeholder="No filter">
                <table id="species-table">
                    <thead>
                        <tr>
                            <th>Scientific name</th>
                            <th>Genus</th>
                            <th>Common Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for species in species_list %}
                        <tr>
                            <td>{{ species.get_species_name() }}</td>
                            <td>{{ species.get_genus_name() }}</td>
                            <td>{{ species.get_common_name() }}</td>
                            <td>
                                <form id="editForm" style="margin-bottom:5px;" method="get"
                                    action="{{ url_for('edit_species', species_id=species.id) }}">
                                    <input type="hidden" name="_method" value="GET">
                                    <button type="submit" style="width:100%"
                                        data-species-id="{{ species.id }}">Edit</button>
                                </form>
                                <form id="deleteForm_{{ species.id }}" method="post"
                                    action="{{ url_for('delete_species', species_id=species.id) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" style="width:100%" class="delete-link"
                                        data-species-id="{{ species.id }}">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="no-species-message" , style="margin-top:15px;">
                    No species found. Please add new species using the button above.
                </div>
                {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </script>
    <script>
        $(document).ready(function () {
            $('.delete-link').on('click', function (e) {
                e.preventDefault();
                var speciesId = $(this).data('species-id');
                var confirmed = confirm("Are you sure you want to delete this species?");
                if (confirmed) {
                    console.log("CONFIM DELETE")
                    var formId = 'deleteForm_' + speciesId;
                    var form = document.getElementById(formId);
                    form.querySelector('input[name="_method"]').value = "DELETE";
                    form.submit();
                } else {
                    // Do nothing if the user cancels
                }
            });
            $('#filter-input').on('input', function () {
                var filterValue = $(this).val().toLowerCase();
                $('#species-table tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1)
                });
            });

            $('#sort-select').on('change', function () {
                var sortValue = $(this).val();
                var rows = $('#species-table tbody tr').get();

                rows.sort(function (a, b) {
                    var aVal = $(a).find('td').eq(0).text();
                    var bVal = $(b).find('td').eq(0).text();
                    if (sortValue === 'classification_desc' || sortValue === 'name_desc') {
                        return aVal < bVal ? 1 : -1;
                    } else {
                        return aVal > bVal ? 1 : -1;
                    }
                });

                $.each(rows, function (index, row) {
                    $('#species-table').append(row);
                });
            });
        });
    </script>
</body>

</html>