<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html>
    {% include 'partials/header.html' %}
    
    <head>
        <title>Error 404</title>
        <link rel="stylesheet" href="../../../static/css/hero-section.css">
        <link rel="stylesheet" href="../../../static/css/general-style.css">
    </head>
<body>
    <div class="outer-div">
    <h1>Unauthorised Access</h1>
    <p>You are not authorised to complete this action. Please contact the administrator for assistance.</p>
    </div>
</body>
</html>