/*
Classes for all inputs
*/
input.small {
    font-size: 0.6rem;
}

input {
    padding: 0.2rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
    height: 2rem;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

select {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
    height: 2rem;
}



input:focus {
    border-color: #4CAF50;
}

input:hover {
    border-color: #aaa;
}


input[type="checkbox"] {
    height:1rem;
}

/*
Classes for all datetime-local inputs
*/
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="time"]:focus  {
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

/*
Classes for all file inputs
*/

input[type="file"]:focus {
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
    
}

input[type="file"] {
    height: 100%;
}

/*
Classes for all button and anchors
*/



button {
    cursor: pointer;
    padding: 0.4rem 0.4rem;
    border-width: 0px;
    display: inline-block;


}

button.gray {
    background-color: #ccc;
    color: #333;
    width:100%;
    border-radius: 0.3rem;
    text-align: center;

}

button.gray:hover {
    background-color: #aaa;
    color: #333; 
}

button.small, a.button.small {
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
}

a.button, button.link {
    border-color: #292929;
    background-color: #f3f3f3;
    border-width: 1px;
    color: #0071B3;
    overflow: auto;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: inline-block;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 0.05rem;
    text-decoration: none;
    
    width: 100%;
}

a.button:hover, button.link:hover {
    background-color: #e7e7e7;
}


a.button.blue, button.blue {
    background-color: #0071B3;
    color: #fff;
    border-radius: 0.3rem;
    text-align: center;
    width:100%;
}

a.button.blue:hover, button.blue:hover {
    background-color: #005a8d;
    color: #fff; 
}   

button:disabled {
    background-color: #d3d3d3; /* Light gray */
    color: #6c757d;           /* Darker gray for text */
    cursor: not-allowed;      /* Shows a 'not-allowed' cursor */
    opacity: 0.6;             /* Slightly transparent */
    border: 1px solid #c0c0c0; /* Light gray border */
}
