<!DOCTYPE html>
<html>
{% include 'partials/header.html' %}
<head>

</head>
<body>
    <div class="outer-div">
        <h2>Add New Species</h1>
            <form action="{{ url_for('admin.admin_species_insert') }}" method="post">
                <label for="species_name">Scientific name:</label>
                <input type="text" id="species_name" name="species_name" required>
                <label for="genus_name">Genus:</label>
                <input type="text" id="genus_name" name="genus_name">
                <label for="common_name">Common name:</label>
                <input type="text" id="common_name" name="common_name"><br>
                <button class="blue" type="submit">Submit</button>
            </form>
    </div>
</body>
</html>